openapi: 3.2.0
info:
  title: Optimizely CMP Open API Documentation Teams API
  version: V3
servers:
- description: v3 version of Optimizely CMP Open API
  url: https://api.cmp.optimizely.com/v3
security:
- OAuth2:
  - openid
  - profile
  - offline_access
tags:
- name: Teams
paths:
  /teams:
    get:
      description: Experimental Get a list of teams.
      operationId: listTeams
      parameters:
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: List of teams
                    items:
                      $ref: '#/components/schemas/Team'
                    type: array
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination'
                    - properties:
                        next:
                          example: https://api.cmp.optimizely.com/v3/teams?offset=10&page_size=10
                          type:
                          - string
                          - 'null'
                      type: object
                required:
                - data
                - pagination
                type: object
          description: List of fetched teams
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      summary: GET /teams
      tags:
      - Teams
  /teams/{id}:
    get:
      description: Experimental Get a team.
      operationId: getTeam
      parameters:
      - example: 5d7f910551b00a722e0418830cee6633
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the team
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamWithUsers'
          description: Fetched the team
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /teams/{id}
      tags:
      - Teams
components:
  schemas:
    Pagination:
      additionalProperties: false
      description: Pagination related information
      properties:
        next:
          description: URL to the next page
          example: https://api.cmp.optimizely.com/<some-path-to-next-page>?offset=10&page_size=10
          type:
          - string
          - 'null'
        previous:
          description: URL to the previous page
          example: null
          type:
          - string
          - 'null'
      required:
      - next
      - previous
      type: object
    Error:
      additionalProperties: true
      description: Error payload
      properties:
        errors:
          additionalProperties: true
          description: Additional information
          properties: {}
          type: object
        message:
          description: Message describing the error
          example: Not found
          type: string
      required:
      - message
      type: object
    TeamWithUsers:
      additionalProperties: false
      properties:
        id:
          description: Unique identifier of the team
          example: 5d7f910551b00a722e0418830cee6633
          type: string
        links:
          additionalProperties: false
          description: Meta links
          properties:
            self:
              description: URL of the team
              example: https://api.cmp.optimizely.com/v3/teams/5d7f910551b00a722e0418830cee6633
              type: string
          required:
          - self
          type: object
        name:
          description: Name of the team
          example: Sample Team
          type: string
        users:
          description: List of users in the team
          items:
            properties:
              email:
                description: Email address of the user
                example: john.doe@example.com
                type: string
              id:
                description: Unique identifier of the user
                example: 5d7f910551b00a722e0418830cee6633
                type: string
              name:
                description: Name of the user
                example: John Doe
                type: string
            required:
            - id
            - name
            - email
            type: object
          type: array
      required:
      - id
      - name
      - links
      - users
      type: object
    Team:
      additionalProperties: false
      properties:
        id:
          description: Unique identifier of the team
          example: 5d7f910551b00a722e0418830cee6633
          type: string
        links:
          additionalProperties: false
          description: Meta links
          properties:
            self:
              description: URL of the team
              example: https://api.cmp.optimizely.com/v3/teams/5d7f910551b00a722e0418830cee6633
              type: string
          required:
          - self
          type: object
        name:
          description: Name of the team
          example: Sample Team
          type: string
      required:
      - id
      - name
      - links
      type: object
  responses:
    Forbidden:
      content:
        application/json:
          example:
            message: You do not have the permission to perform this operation
          schema:
            $ref: '#/components/schemas/Error'
      description: Permission error
    NotFound:
      content:
        application/json:
          example:
            message: Resource not found
          schema:
            $ref: '#/components/schemas/Error'
      description: Not found error
    Unauthorized:
      content:
        application/json:
          example:
            message: Unauthorized
          schema:
            $ref: '#/components/schemas/Error'
      description: Authorization error
    ClientError:
      content:
        application/json:
          example:
            message: 'Unsupported arguments: a,b,c'
          schema:
            $ref: '#/components/schemas/Error'
      description: Client error
  parameters:
    page_size:
      description: Number of results to return per page
      example: 15
      in: query
      name: page_size
      schema:
        default: 10
        maximum: 100
        minimum: 1
        type: integer
    offset:
      description: Starting index of results (zero indexed)
      example: 5
      in: query
      name: offset
      schema:
        default: 0
        minimum: 0
        type: integer
  securitySchemes:
    OAuth2:
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.cmp.optimizely.com/o/oauth2/v1/auth
          scopes:
            offline_access: Grants the ability to refresh access_token using the refresh token even when user is not present (not logged in).
            openid: Grants the ability to receive a unique identifier for the user.
            profile: Grants access to user profile information.
          tokenUrl: https://accounts.cmp.optimizely.com/o/oauth2/v1/token
        clientCredentials:
          scopes: {}
          tokenUrl: https://accounts.cmp.optimizely.com/o/oauth2/v1/token
      type: oauth2
x-tagGroups:
- name: API
  tags:
  - Uploader
  - Library
  - Labels
  - Brand Compliance
  - Tasks
  - Task Step
  - Campaigns
  - Publishing
  - Templates
  - Users
  - Work Requests
  - Structured Contents
  - Assets
  - Milestones
  - Teams
  - Settings
  - Workflows
  - Fields
  - Events
