openapi: 3.2.0
info:
  title: Newscred Tasks API
  version: V3
  description: 'Operations tagged Tasks across 2 of this provider''s published API definitions: newscred-cmp-open-api-openapi.json, newscred-welcome-open-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- description: v3 version of Optimizely CMP Open API
  url: https://api.cmp.optimizely.com/v3
- url: https://api.welcomesoftware.com/v3
  description: v3 version of _Welcome_ Open API
tags:
- description: 'Facilitates the integration of external systems with Optimizely CMP through the following use cases:

    1. **External Work Management** – Use the endpoints to link Optimizely CMP with an external system (such as Jira or Aha). The external system can send status updates back to Optimizely CMP so that the Optimizely CMP user receives in-app updates for the status of the ''ticket'' in the external system.

    2. **External Document Approval** – (a.k.a. Marketing Legal Review) Use the endpoints to link Optimizely CMP with an external system (such as Veeva PromoMats) to review, annotate, update, and approve marketing assets through the external system. The approval status can be sent back to Optimizely CMP so that the Optimizely CMP user receives in-app updates for the final approval status of the documents from the external system.

    For information on these use cases, contact Optimizely CMP Support.

    '
  name: Tasks
paths:
  /tasks:
    get:
      description: <span style="background-color:#e95f6a;padding:5px;border-radius:5px">Experimental</span> Get a list of tasks.
      operationId: listTasks
      parameters:
      - example: task 1
        in: query
        name: search_key
        schema:
          description: Search for task title
          type: string
      - example: 8n7f910o51b00b722o0418n30cie8211
        in: query
        name: campaign
        schema:
          description: Campaign id of the tasks
          type: string
      - example: 8n7f910o51b00b722o0418n30cie8211
        in: query
        name: workflow
        schema:
          description: Workflow id of the tasks
          type: string
      - example: 8n7f910o51b00b722o0418n30cie8211
        in: query
        name: milestone
        schema:
          description: Milestone id of the tasks
          type: string
      - example: '2022-08-24T00:00:00.000Z'
        in: query
        name: start_date
        schema:
          description: Start date of the tasks, in ISO 8601 UTC format
          type: string
      - example: '2022-08-24T00:00:00.000Z'
        in: query
        name: due_date
        schema:
          description: Due date of the tasks, in ISO 8601 UTC format
          type: string
      - example:
        - In Progress
        - Not Started
        in: query
        name: status
        schema:
          description: Filter tasks by status. Provide multiple statuses to filter tasks across multiple statuses.
          items:
            enum:
            - Archived
            - Completed
            - Overdue
            - Not Started
            - In Progress
            - On Hold
            type: string
          type: array
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: List of tasks
                    items:
                      $ref: '#/components/schemas/TaskListResponseItem'
                    type: array
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination'
                    - properties:
                        next:
                          example: https://api.cmp.optimizely.com/v3/tasks?offset=10&page_size=10
                          type:
                          - string
                          - 'null'
                      type: object
                required:
                - data
                - pagination
                type: object
          description: List of fetched tasks
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      summary: GET /tasks
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    post:
      description: <span style="background-color:#e95f6a;padding:5px;border-radius:5px">Experimental</span> Create a task
      operationId: createTask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskCreateRequest'
        description: Payload to create a task
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
          description: Created task
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: POST /tasks
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - description: v3 version of Optimizely CMP Open API
      url: https://api.cmp.optimizely.com/v3
  /tasks/{id}:
    get:
      description: Get a task
      operationId: getTask
      parameters:
      - example: 7d7f910551b00a722e0418830cee6612
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
          description: Fetched task
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{id}
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    patch:
      description: Update a task
      operationId: updateTask
      parameters:
      - example: 7d7f910551b00a722e0418830cee6612
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskUpdateRequest'
        description: Payload to update the task
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
          description: Updated task
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: PATCH /tasks/{id}
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - description: v3 version of Optimizely CMP Open API
      url: https://api.cmp.optimizely.com/v3
  /tasks/{id}/assets:
    get:
      description: Get the list of the assets or contents of a task
      operationId: listTaskAssets
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: List of assets
                    items:
                      allOf:
                      - $ref: '#/components/schemas/TaskAssetResponse'
                      - properties:
                          library_asset_id:
                            description: Unique identifier of the corresponding library asset — the library asset this task asset was forked from, or the one it was released to.
                            example: 6a8b2c3d4e5f6071829a3b4c
                            type:
                            - string
                            - 'null'
                        type: object
                    type: array
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination'
                    - properties:
                        next:
                          example: https://api.cmp.optimizely.com/v3/tasks/5f857f30e1c4a2038d6179e9/assets?offset=10&page_size=10
                          type:
                          - string
                          - 'null'
                      type: object
                required:
                - data
                - pagination
                type: object
          description: List of fetched assets
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{id}/assets
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    post:
      description: This API allows you to add an asset to a task. There currently two mechanisms to add an asset - either by uploading an asset first and then calling this API (for only `images`, `videos`, and `raw files`), or by adding an asset from the library. The 'type' parameter in the request body will determine the mechanism used to add the asset. See [Upload assets](https://docs.developers.optimizely.com/content-marketing-platform/docs/upload-assets) to upload an asset.
      operationId: addAssetToTask
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskAssetRequest'
        description: 'Payload to add an asset. There are two mechanisms for adding assets to a task:

          - `direct_upload` - An asset that has been uploaded using the [Upload assets](https://docs.developers.optimizely.com/content-marketing-platform/docs/upload-assets) endpoint.

          - `fork_from_library` - This will fork an existing asset from the library to the task.

          The `type` field is optional, and will default to `direct_upload` if not provided.

          Note: Renditions is currently not supported for library assets.

          '
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskAssetResponse'
          description: Created asset
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: POST /tasks/{id}/assets
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - description: v3 version of Optimizely CMP Open API
      url: https://api.cmp.optimizely.com/v3
  /tasks/{id}/attachments:
    get:
      description: Get the list of the attachments of a task
      operationId: listTaskAttachments
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: List of attachments
                    items:
                      $ref: '#/components/schemas/AttachmentResponse'
                    type: array
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination'
                    - properties:
                        next:
                          example: https://api.cmp.optimizely.com/v3/tasks/attachments?offset=10&page_size=10
                          type:
                          - string
                          - 'null'
                      type: object
                required:
                - data
                - pagination
                type: object
          description: List of fetched attachments
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{id}/attachments
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - description: v3 version of Optimizely CMP Open API
      url: https://api.cmp.optimizely.com/v3
  /tasks/{id}/brief:
    get:
      description: Get brief of the task
      operationId: getTaskBrief
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskBriefResponse'
          description: Fetched brief of the task
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{id}/brief
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - description: v3 version of Optimizely CMP Open API
      url: https://api.cmp.optimizely.com/v3
  /tasks/{id}/custom-fields:
    get:
      description: Get the list of custom fields added to a task.
      operationId: listTaskCustomFields
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: List of custom fields
                    items:
                      $ref: '#/components/schemas/TaskCustomField'
                    type: array
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination'
                    - properties:
                        next:
                          example: https://api.cmp.optimizely.com/v3/tasks/5f857f30e1c4a2038d6179e9/custom-fields?offset=10&page_size=10
                          type:
                          - string
                          - 'null'
                      type: object
                required:
                - data
                - pagination
                type: object
          description: List of fetched custom fields
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET tasks/{id}/custom-fields
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - description: v3 version of Optimizely CMP Open API
      url: https://api.cmp.optimizely.com/v3
  /tasks/{task_id}/articles/{article_id}:
    get:
      description: Get an article associated with the task identified by `task_id`.
      operationId: getTaskArticle
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 5d7f910551b00a722e0418830cee6631
        in: path
        name: article_id
        required: true
        schema:
          description: Unique identifier of the article associated with the task
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskArticle'
          description: Fetched article
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{task_id}/articles/{article_id}
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - description: v3 version of Optimizely CMP Open API
      url: https://api.cmp.optimizely.com/v3
  /tasks/{task_id}/assets/{asset_id}/comments:
    get:
      description: List all the comments for the latest version of a task asset.
      operationId: listTaskAssetComments
      parameters:
      - example: 7d7f910551b00a722e0418830cee6612
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 897f910551b00a722e0418830cee6612
        in: path
        name: asset_id
        required: true
        schema:
          description: Unique identifier of the asset
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: List of comments
                    items:
                      $ref: '#/components/schemas/TaskAssetCommentResponse'
                    type: array
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination'
                    - properties:
                        next:
                          example: https://api.cmp.optimizely.com/v3/tasks/7d7f910551b00a722e0418830cee6612/assets/897f910551b00a722e0418830cee6612/comments?offset=10&page_size=10
                          type:
                          - string
                          - 'null'
                      type: object
                type: object
          description: List of comments for the asset
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{task_id}/assets/{asset_id}/comments
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    post:
      description: Add a comment to the latest version of a task asset. Supports adding comments to only **images**, **videos** and **raw files** type assets.
      operationId: addCommentToTaskAsset
      parameters:
      - example: 7d7f910551b00a722e0418830cee6612
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 897f910551b00a722e0418830cee6612
        in: path
        name: asset_id
        required: true
        schema:
          description: Unique identifier of the asset
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentCreateRequest'
        description: Payload to add comment
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskAssetCommentResponse'
          description: Added comment
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: POST /tasks/{task_id}/assets/{asset_id}/comments
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - description: v3 version of Optimizely CMP Open API
      url: https://api.cmp.optimizely.com/v3
  /tasks/{task_id}/assets/{asset_id}/drafts:
    get:
      description: <span style="background-color:#e95f6a;padding:5px;border-radius:5px">Experimental</span> Get the list of drafts on an asset of a task.
      operationId: listTaskAssetDrafts
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 5d7f910551b00a722e0418830cee6631
        in: path
        name: asset_id
        required: true
        schema:
          description: Unique identifier of the asset
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: List of drafts
                    items:
                      $ref: '#/components/schemas/TaskAssetDraftListResponseItem'
                    type: array
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination'
                    - properties:
                        next:
                          example: https://api.cmp.optimizely.com/v3/tasks/5f857f30e1c4a2038d6179e9/assets/5d7f910551b00a722e0418830cee6631/drafts?offset=10&page_size=10
                          type:
                          - string
                          - 'null'
                      type: object
                required:
                - data
                - pagination
                type: object
          description: List of fetched drafts
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{task_id}/assets/{asset_id}/drafts
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    post:
      description: Add a new draft to a task asset. You can add a draft to only `images`, `videos`, and `raw files` type task assets. See [Upload assets](https://docs.developers.optimizely.com/content-marketing-platform/docs/upload-assets) to upload an asset draft.
      operationId: addDraftToTaskAsset
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 5d7f910551b00a722e0418830cee6631
        in: path
        name: asset_id
        required: true
        schema:
          description: Unique identifier of the asset
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskAssetRequest'
        description: Payload to add a draft to an asset
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskAssetDraftResponse'
          description: Created draft
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: POST /tasks/{task_id}/assets/{asset_id}/drafts
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - description: v3 version of Optimizely CMP Open API
      url: https://api.cmp.optimizely.com/v3
  /tasks/{task_id}/assets/{asset_id}/fields:
    get:
      description: <span style="background-color:#e95f6a;padding:5px;border-radius:5px">Experimental</span> List all the fields of a task asset.
      operationId: listTaskAssetFields
      parameters:
      - example: 7d7f910551b00a722e0418830cee6612
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 897f910551b00a722e0418830cee6612
        in: path
        name: asset_id
        required: true
        schema:
          description: Unique identifier of the asset
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: List of fields
                    items:
                      $ref: '#/components/schemas/AssetFieldListResponseItem'
                    type: array
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination'
                    - properties:
                        next:
                          example: https://api.cmp.optimizely.com/v3/tasks/7d7f910551b00a722e0418830cee6612/assets/897f910551b00a722e0418830cee6612/fields?offset=10&page_size=10
                          type:
                          - string
                          - 'null'
                      type: object
                type: object
          description: List of fields for the asset
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{task_id}/assets/{asset_id}/fields
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    put:
      description: <span style="background-color:#e95f6a;padding:5px;border-radius:5px">Experimental</span> Replace fields of an asset in a task.
      operationId: updateTaskAssetFields
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: asset_id
        required: true
        schema:
          description: Unique identifier of the task asset
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskAssetFieldsUpdateRequest'
        description: Payload to replace the fields
        required: true
      responses:
        '204':
          description: Fields successfulled updated.
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: PUT tasks/{task_id}/assets/{asset_id}/fields
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - description: v3 version of Optimizely CMP Open API
      url: https://api.cmp.optimizely.com/v3
  /tasks/{task_id}/comments:
    post:
      description: '<span style="background-color:#e95f6a;padding:5px;border-radius:5px">Experimental</span> Post a comment on a task. '
      operationId: addCommentToTask
      parameters:
      - example: da80cfd7bbf84959a8a981acbad996b3
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentCreateRequest'
        description: Payload to add a comment
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCommentResponse'
          description: Created a comment for the task
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: POST /tasks/{task_id}/comments
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - description: v3 version of Optimizely CMP Open API
      url: https://api.cmp.optimizely.com/v3
  /tasks/{task_id}/custom-fields/{custom_field_id}:
    get:
      description: Get a custom field of a task
      operationId: getTaskCustomField
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 9nu8ue9wf8u9nusd9q
        in: path
        name: custom_field_id
        required: true
        schema:
          description: Unique identifier of the custom field
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCustomField'
          description: Fetched custom field
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{task_id}/custom-fields/{custom_field_id}
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    patch:
      description: 'Update a custom field of a task.

        You can update the following types:  `text_field`, `multi_line_text_field`, `checkboxes`, `dropdown`, `multi_select_dropdown`, `multiple_choice`, `date_field`, `rich_text_field`

        '
      operationId: updateTaskCustomField
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 9nu8ue9wf8u9nusd9q
        in: path
        name: custom_field_id
        required: true
        schema:
          description: Unique identifier of the custom field
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskCustomFieldUpdateRequest'
        description: 'Payload to update the custom field.

          '
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCustomField'
          description: Updated custom field
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: PATCH /tasks/{task_id}/custom-fields/{custom_field_id}
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - description: v3 version of Optimizely CMP Open API
      url: https://api.cmp.optimizely.com/v3
  /tasks/{task_id}/custom-fields/{custom_field_id}/choices:
    get:
      description: Get the list of the choices of a custom field in a task.
      operationId: listTaskCustomFieldChoices
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 9nu8ue9wf8u9nusd9q
        in: path
        name: custom_field_id
        required: true
        schema:
          description: Unique identifier of the custom field
          type: string
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: List of custom field choices
                    items:
                      $ref: '#/components/schemas/TaskCustomFieldChoiceListResponseItem'
                    type: array
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination'
                    - properties:
                        next:
                          example: https://api.cmp.optimizely.com/v3/tasks/5f857f30e1c4a2038d6179e9/custom-fields/j90uv0sd9i0si09sdip/choices?offset=10&page_size=10
                          type:
                          - string
                          - 'null'
                      type: object
                required:
                - data
                - pagination
                type: object
          description: List of fetched custom field choices
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{task_id}/custom-fields/{custom_field_id}/choices
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - description: v3 version of Optimizely CMP Open API
      url: https://api.cmp.optimizely.com/v3
  /tasks/{task_id}/fields:
    get:
      description: '<span style="background-color:#e95f6a;padding:5px;border-radius:5px">Experimental</span> Get the list of fields of a task. '
      operationId: listTaskFields
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: List of fields
                    items:
                      $ref: '#/components/schemas/FieldListResponseItem'
                    type: array
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination'
                    - properties:
                        next:
                          example: https://api.cmp.optimizely.com/v3/tasks/5f857f30e1c4a2038d6179e9/fields?offset=10&page_size=10
                          type:
                          - string
                          - 'null'
                      type: object
                required:
                - data
                - pagination
                type: object
          description: List of fetched fields
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET tasks/{task_id}/fields
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    post:
      description: <span style="background-color:#e95f6a;padding:5px;border-radius:5px">Experimental</span> Add a field to a task.
      operationId: addFieldToTask
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectFieldCreateRequest'
        description: Payload to add a field to a task
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectFieldCreateResponse'
          description: Added field to a task.
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: POST tasks/{task_id}/fields
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - description: v3 version of Optimizely CMP Open API
      url: https://api.cmp.optimizely.com/v3
  /tasks/{task_id}/fields/{field_id}:
    delete:
      description: '<span style="background-color:#e95f6a;padding:5px;border-radius:5px">Experimental</span> Remove a field of a task. '
      operationId: removeTaskField
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: fa63cece6aa811efb70202420ac80016
        in: path
        name: field_id
        required: true
        schema:
          description: Unique identifier of the field
          type: string
      responses:
        '204':
          description: The field is removed from the task
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: DELETE tasks/{task_id}/fields/{field_id}
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    put:
      description: <span style="background-color:#e95f6a;padding:5px;border-radius:5px">Experimental</span> Update a field of a task.
      operationId: updateTaskField
      parameters:
      - example: 124p857f3i220y38ad6179e9
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 124p857f3i220y38ad6179e9
        in: path
        name: field_id
        required: true
        schema:
          description: Unique identifier of the field of the task
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskFieldUpdateRequest'
        description: Payload to update a field of a task
        required: true
      responses:
        '204':
          description: The field of the task was updated.
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: PUT tasks/{taks_id}/fields/{field_id}
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - description: v3 version of Optimizely CMP Open API
      url: https://api.cmp.optimizely.com/v3
  /tasks/{task_id}/images/{image_id}:
    get:
      description: Get an image associated with the task identified by `task_id`.
      operationId: getTaskImage
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 5d7f910551b00a722e0418830cee6632
        in: path
        name: image_id
        required: true
        schema:
          description: Unique identifier of the image associated with the task
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskImage'
          description: Fetched image
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{task_id}/images/{image_id}
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - description: v3 version of Optimizely CMP Open API
      url: https://api.cmp.optimizely.com/v3
  /tasks/{task_id}/publishing-intents:
    post:
      description: <span style="background-color:#e95f6a;padding:5px;border-radius:5px">Experimental</span> Create a publishing intent for a task on the specified publishing channel.
      operationId: createTaskPublishingIntent
      parameters:
      - example: 6a311afa4234a8b03875306c
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskPublishingIntentCreateRequest'
        description: Payload to create a publishing intent
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskPublishingIntentResponse'
          description: Created publishing intent for the task
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: POST /tasks/{task_id}/publishing-intents
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - description: v3 version of Optimizely CMP Open API
      url: https://api.cmp.optimizely.com/v3
  /tasks/{task_id}/raw-files/{raw_file_id}:
    get:
      description: Get a raw file associated with the task identified by `task_id`.
      operationId: getTaskRawFile
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 5d7f910551b00a722e0418830cee6634
        in: path
        name: raw_file_id
        required: true
        schema:
          description: Unique identifier of the raw file associated with the task
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskRawFile'
          description: Fetched raw file
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{task_id}/raw-files/{raw_file_id}
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - description: v3 version of Optimizely CMP Open API
      url: https://api.cmp.optimizely.com/v3
  /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}:
    get:
      description: Get the substep of a task
      operationId: getTaskSubStep
      parameters:
      - example: 7d7f910551b00a722e0418830cee6612
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 897f910551b00a722e0418830cee6612
        in: path
        name: step_id
        required: true
        schema:
          description: Unique identifier of the step
          type: string
      - example: 700f910551b00a722e0418830cee6612
        in: path
        name: sub_step_id
        required: true
        schema:
          description: Unique identifier of the substep
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskSubStep'
          description: Fetched task substep information
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    patch:
      description: Update a substep of a step in a task
      operationId: updateTaskSubStep
      parameters:
      - example: 7d7f910551b00a722e0418830cee6612
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 897f910551b00a722e0418830cee6612
        in: path
        name: step_id
        required: true
        schema:
          description: Unique identifier of the step
          type: string
      - example: 700f910551b00a722e0418830cee6612
        in: path
        name: sub_step_id
        required: true
        schema:
          description: Unique identifier of the substep
          type: string
      requestBody:
        content:
          application/json:
            examples:
              assignee_id:
                summary: Change the assignee of the substep
                value:
                  assignee_id: 5fdf31d57f0d0e362e2b5908
              is_completed:
                summary: Mark the substep as completed
                value:
                  is_completed: true
              is_in_progress:
                summary: Mark the substep as In Progress
                value:
                  is_in_progress: true
            schema:
              $ref: '#/components/schemas/TaskSubStepRequest'
        description: Payload to update the substep
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskSubStep'
          description: Fetched task substep information
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: PATCH /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - description: v3 version of Optimizely CMP Open API
      url: https://api.cmp.optimizely.com/v3
  /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/comments:
    get:
      description: Get the list of the comments of a task substep
      operationId: listTaskSubStepComments
      parameters:
      - example: 7d7f910551b00a722e0418830cee6612
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 897f910551b00a722e0418830cee6612
        in: path
        name: step_id
        required: true
        schema:
          description: Unique identifier of the step
          type: string
      - example: 700f910551b00a722e0418830cee6612
        in: path
        name: sub_step_id
        required: true
        schema:
          description: Unique identifier of the substep
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: List of substep comments
                    items:
                      $ref: '#/components/schemas/TaskSubStepCommentResponse'
                    type: array
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination'
                    - properties:
                        next:
                          example: https://api.cmp.optimizely.com/v3/tasks/7d7f910551b00a722e0418830cee6612/steps/897f910551b00a722e0418830cee6612/sub-steps/700f910551b00a722e0418830cee6612/comments?offset=10&page_size=10
                          type:
                          - string
                          - 'null'
                      type: object
                required:
                - data
                - pagination
                type: object
          description: List of fetched task substep comments
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/comments
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    post:
      description: Create a task substep comment
      operationId: addCommentToTaskSubStep
      parameters:
      - example: 7d7f910551b00a722e0418830cee6612
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 897f910551b00a722e0418830cee6612
        in: path
        name: step_id
        required: true
        schema:
          description: Unique identifier of the step
          type: string
      - example: 700f910551b00a722e0418830cee6612
        in: path
        name: sub_step_id
        required: true
        schema:
          description: Unique identifier of the substep
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentWithReplyCreateRequest'
        description: Payload to create substep comment
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskSubStepCommentResponse'
          description: Created task substep comment
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: POST /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/comments
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - description: v3 version of Optimizely CMP Open API
      url: https://api.cmp.optimizely.com/v3
  /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/comments/{comment_id}:
    delete:
      description: Delete a task substep comment
      operationId: deleteTaskSubStepComment
      parameters:
      - example: 7d7f910551b00a722e0418830cee6612
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 897f910551b00a722e0418830cee6612
        in: path
        name: step_id
        required: true
        schema:
          description: Unique identifier of the step
          type: string
      - example: 700f910551b00a722e0418830cee6612
        in: path
        name: sub_step_id
        required: true
        schema:
          description: Unique identifier of the substep
          type: string
      - example: 5fe3886c574b52a62a089237
        in: path
        name: comment_id
        required: true
        schema:
          description: Unique identifier of the comment
          type: string
      responses:
        '204':
          description: Deleted task substep comment
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: DELETE /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/comments/{comment_id}
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    get:
      description: Get a task substep comment
      operationId: getTaskSubStepComment
      parameters:
      - example: 7d7f910551b00a722e0418830cee6612
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 897f910551b00a722e0418830cee6612
        in: path
        name: step_id
        required: true
        schema:
          description: Unique identifier of the step
          type: string
      - example: 700f910551b00a722e0418830cee6612
        in: path
        name: sub_step_id
        required: true
        schema:
          description: Unique identifier of the substep
          type: string
      - example: 5fe3886c574b52a62a089237
        in: path
        name: comment_id
        required: true
        schema:
          description: Unique identifier of the comment
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskSubStepCommentResponse'
          description: Fetched task substep comment
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/comments/{comment_id}
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    patch:
      description: Update a task substep comment
      operationId: updateTaskSubStepComment
      parameters:
      - example: 7d7f910551b00a722e0418830cee6612
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 897f910551b00a722e0418830cee6612
        in: path
        name: step_id
        required: true
        schema:
          description: Unique identifier of the step
          type: string
      - example: 700f910551b00a722e0418830cee6612
        in: path
        name: sub_step_id
        required: true
        schema:
          description: Unique identifier of the substep
          type: string
      - example: 5fe3886c574b52a62a089237
        in: path
        name: comment_id
        required: true
        schema:
          description: Unique identifier of the comment
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskSubStepCommentUpdateRequest'
        description: Payload to update the substep comment
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskSubStepCommentResponse'
          description: Updated task substep comment
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: PATCH /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/comments/{comment_id}
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - description: v3 version of Optimizely CMP Open API
      url: https://api.cmp.optimizely.com/v3
  /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/external-work:
    get:
      description: Get the external work information of a task external substep
      operationId: getTaskSubStepExternalWork
      parameters:
      - example: 7d7f910551b00a722e0418830cee6612
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 897f910551b00a722e0418830cee6612
        in: path
        name: step_id
        required: true
        schema:
          description: Unique identifier of the step
          type: string
      - example: 700f910551b00a722e0418830cee6612
        in: path
        name: sub_step_id
        required: true
        schema:
          description: Unique identifier of the substep
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskExternalWorkResponse'
          description: Fetched external work information
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/external-work
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    patch:
      description: Update the external work information of a task external substep
      operationId: updateTaskSubStepExternalWork
      parameters:
      - example: 7d7f910551b00a722e0418830cee6612
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 897f910551b00a722e0418830cee6612
        in: path
        name: step_id
        required: true
        schema:
          description: Unique identifier of the step
          type: string
      - example: 700f910551b00a722e0418830cee6612
        in: path
        name: sub_step_id
        required: true
        schema:
          description: Unique identifier of the substep
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskExternalWorkRequest'
        description: Payload to update the external work information
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskExternalWorkResponse'
          description: Updated external work information
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: PATCH /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/external-work
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - description: v3 version of Optimizely CMP Open API
      url: https://api.cmp.optimizely.com/v3
  /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/fields:
    get:
      description: '<span style="background-color:#e95f6a;padding:5px;border-radius:5px">Experimental</span> Get the list of fields of a substep of a task. '
      operationId: listTaskSubStepFields
      parameters:
      - example: 7d7f910551b00a722e0418830cee6612
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 897f910551b00a722e0418830cee6612
        in: path
        name: step_id
        required: true
        schema:
          description: Unique identifier of the step
          type: string
      - example: 700f910551b00a722e0418830cee6612
        in: path
        name: sub_step_id
        required: true
        schema:
          description: Unique identifier of the substep
          type: string
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: List of fields
                    items:
                      discriminator:
                        mapping:
                          checkbox: '#/components/schemas/FieldTypeCheckbox'
                          dropdown: '#/components/schemas/FieldTypeDropdown'
                          label: '#/components/schemas/FieldTypeLabel'
                          radio_button: '#/components/schemas/FieldTypeRadio'
                        propertyName: type
                      oneOf:
                      - $ref: '#/components/schemas/FieldTypeLabel'
                      - $ref: '#/components/schemas/FieldTypeDropdown'
                      - $ref: '#/components/schemas/FieldTypeRadio'
                      - $ref: '#/components/schemas/FieldTypeCheckbox'
                    type: array
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination'
                    - properties:
                        next:
                          example: https://api.cmp.optimizely.com/v3/tasks/7d7f910551b00a722e0418830cee6612/steps/897f910551b00a722e0418830cee6612/sub-steps/700f910551b00a722e0418830cee6612/fields?offset=10&page_size=10
                          type:
                          - string
                          - 'null'
                      type: object
                required:
                - data
                - pagination
                type: object
          description: List of fetched fields
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/fields
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - description: v3 version of Optimizely CMP Open API
      url: https://api.cmp.optimizely.com/v3
  /tasks/{task_id}/structured-contents:
    post:
      description: <span style="background-color:#e95f6a;padding:5px;border-radius:5px">Experimental</span> Add a new structured content to task
      operationId: addStructuredContentToTask
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskStructuredContentCreateRequest'
        description: Payload to add a structured content
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentDetailsModel'
          description: Created content
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: POST /tasks/{task_id}/structured-contents
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - description: v3 version of Optimizely CMP Open API
      url: https://api.cmp.optimizely.com/v3
  /tasks/{task_id}/structured-contents/{content_id}:
    delete:
      description: <span style="background-color:#e95f6a;padding:5px;border-radius:5px">Experimental</span> Delete a structured content from task
      operationId: deleteTaskStructuredContent
      parameters:
      - example: 5d7f910551b00a722e0418830cee6631
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: ff3f8e024f0611ed993202420ac8001b
        in: path
        name: content_id
        required: true
        schema:
          description: Unique identifier of the content
          type: string
      responses:
        '204':
          description: Deleted the content
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: DELETE /tasks/{task_id}/structured-contents/{content_id}
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    get:
      description: <span style="background-color:#e95f6a;padding:5px;border-radius:5px">Experimental</span> Get a task structured content by its guid.
      operationId: getTaskStructuredContent
      parameters:
      - example: 645cb61c966d0c591320f636
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 5fe38c39574b52a62a089239
        in: path
        name: content_id
        required: true
        schema:
          description: Unique identifier of the structured content
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentDetailsModel'
          description: Structured content by Id for the task
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{task_id}/structured-contents/{content_id}
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    patch:
      description: <span style="background-color:#e95f6a;padding:5px;border-radius:5px">Experimental</span> Update structured content using a task.
      operationId: updateTaskStructuredContent
      parameters:
      - example: da80cfd7bbf84959a8a981acbad996b3
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: da80cfd7bbf84959a8a981acbad996b3
        in: path
        name: content_id
        required: true
        schema:
          description: Unique identifier of the structured content
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskStructuredContentUpdateRequest'
        description: Payload to update structured content
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentDetailsModel'
          description: Updated structured content as response
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: PATCH /tasks/{task_id}/structured-contents/{content_id}
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - description: v3 version of Optimizely CMP Open API
      url: https://api.cmp.optimizely.com/v3
  /tasks/{task_id}/structured-contents/{content_id}/drafts:
    post:
      description: <span style="background-color:#e95f6a;padding:5px;border-radius:5px">Experimental</span> Create structured content draft using a task.
      operationId: createTaskStructuredContentDraft
      parameters:
      - example: da80cfd7bbf84959a8a981acbad996b3
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: da80cfd7bbf84959a8a981acbad996b3
        in: path
        name: content_id
        required: true
        schema:
          description: Unique identifier of the structured content
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskStructuredContentDraftRequest'
        description: Payload to create structured content drafts
        required: true
      responses:
        '201':
          content:
            application/json:
              example: null
              schema:
                type: object
          description: Created structured content draft as response
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: POST /tasks/{task_id}/structured-contents/{content_id}/drafts
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - description: v3 version of Optimizely CMP Open API
      url: https://api.cmp.optimizely.com/v3
  /tasks/{task_id}/urls:
    post:
      description: <span style="background-color:#e95f6a;padding:5px;border-radius:5px">Experimental</span> Adds a URL to a task.
      operationId: addUrlToTask
      parameters:
      - example: 68fdf93d09caf1463f145dc6
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUrlToTaskRequest'
        description: Payload to add a URL to a task
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskUrlResponse'
          description: Created task URL
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: POST /tasks/{task_id}/urls
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - description: v3 version of Optimizely CMP Open API
      url: https://api.cmp.optimizely.com/v3
  /tasks/{task_id}/videos/{video_id}:
    get:
      description: Get a video associated with the task identified by task_id
      operationId: getTaskVideo
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 5d7f910551b00a722e0418830cee6633
        in: path
        name: video_id
        required: true
        schema:
          description: Unique identifier of the video associated with the task
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskVideo'
          description: Fetched video
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{task_id}/videos/{video_id}
      tags:
      - Tasks
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - description: v3 version of Optimizely CMP Open API
      url: https://api.cmp.optimizely.com/v3
components:
  schemas:
    NumberTypeObjectFieldUpdatePayload:
      allOf:
      - $ref: '#/components/schemas/BaseObjectFieldUpdatePayload'
      - properties:
          values:
            description: Accepts a single numeric value
            items:
              example: 200
              type: number
            maxItems: 1
            type: array
        type: object
    MultiChoiceTypeObjectField:
      allOf:
      - $ref: '#/components/schemas/BaseObjectField'
      - $ref: '#/components/schemas/MultiChoiceTypeObjectFieldUpdatePayload'
    TaskUrlResponse:
      additionalProperties: false
      properties:
        created_at:
          description: Timestamp when the URL was added to the task
          example: '2024-06-01T06:00:00Z'
          format: date-time
          type: string
        id:
          description: Unique identifier of the URL added to the task
          example: 692851fbbd8c9217e28f7ad1
          type: string
      required:
      - id
      - created_at
      type: object
    FieldListResponseItem:
      discriminator:
        mapping:
          checkbox: '#/components/schemas/FieldTypeCheckbox'
          currency_number: '#/components/schemas/FieldTypeCurrencyNumber'
          date: '#/components/schemas/FieldTypeCommon'
          dropdown: '#/components/schemas/FieldTypeDropdown'
          image: '#/components/schemas/FieldTypeCommon'
          label: '#/components/schemas/FieldTypeLabel'
          percentage_number: '#/components/schemas/FieldTypePercentageNumber'
          radio_button: '#/components/schemas/FieldTypeRadio'
          rich_text: '#/components/schemas/FieldTypeCommon'
          simple_number: '#/components/schemas/FieldTypeSimpleNumber'
          text: '#/components/schemas/FieldTypeCommon'
          text_area: '#/components/schemas/FieldTypeCommon'
          video: '#/components/schemas/FieldTypeCommon'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/FieldTypeCommon'
      - $ref: '#/components/schemas/FieldTypeLabel'
      - $ref: '#/components/schemas/FieldTypeDropdown'
      - $ref: '#/components/schemas/FieldTypeRadio'
      - $ref: '#/components/schemas/FieldTypeCheckbox'
      - $ref: '#/components/schemas/FieldTypeSimpleNumber'
      - $ref: '#/components/schemas/FieldTypePercentageNumber'
      - $ref: '#/components/schemas/FieldTypeCurrencyNumber'
    LocalizedFieldValuesWithEmbeddedContent:
      properties:
        field_values:
          items:
            anyOf:
            - $ref: '#/components/schemas/NumberFieldValueModel'
            - $ref: '#/components/schemas/BooleanFieldValueModel'
            - $ref: '#/components/schemas/DatetimeFieldValueModel'
            - $ref: '#/components/schemas/TextFieldValueModel'
            - $ref: '#/components/schemas/RichTextFieldValueModel'
            - $ref: '#/components/schemas/LibraryAssetFieldValueModel'
            - $ref: '#/components/schemas/ContentFieldValueWithEmbeddedModel'
            - $ref: '#/components/schemas/ContentFieldValueModel'
            - $ref: '#/components/schemas/URLFieldValueModel'
            - $ref: '#/components/schemas/JSONFieldValueModel'
            - $ref: '#/components/schemas/ChoiceFieldValueModel'
            - $ref: '#/components/schemas/LocationFieldValueModel'
          type: array
        locale:
          type: string
      required:
      - locale
      - field_values
      type: object
    RichTextFieldDefinition:
      properties:
        core:
          $ref: '#/components/schemas/CoreFieldDef'
        default_values:
          description: Default values of the field
          items:
            type: string
          type: array
        max_visual_text_length:
          description: Maximum length of the field
          type: integer
        min_visual_text_length:
          description: Minimum length of the field
          type: integer
      required:
      - core
      - min_visual_text_length
      type: object
    NumberFieldValueModel:
      properties:
        num_value:
          description: Value of the field value
          type: number
        order_index:
          description: Order index of the field value
          type: integer
      required:
      - num_value
      type: object
    LocationFieldValueModel:
      properties:
        latitude:
          description: Longitude of the field value
          type: number
        longitude:
          description: Longitude of the field value
          type: number
        order_index:
          description: Order index of the field value
          type: integer
      required:
      - longitude
      - latitude
      type: object
    RichTextFieldValueModel:
      properties:
        order_index:
          description: Order index of the field value
          type: integer
        rich_text_value:
          description: Value of the field value
          type: string
      required:
      - rich_text_value
      type: object
    TaskSubStep:
      additionalProperties: false
      properties:
        assignee_id:
          description: ID of the assignee of the step containing the substep
          example: 5fdf31d57f0d0e362e2b5908
          type:
          - string
          - 'null'
        assignee_type:
          description: Type of the assignee of the step containing the substep.
          enum:
          - user
          - team
          example: user
          type: string
        id:
          description: Unique identifier of the substep
          example: 9c7f910551b00a722e0418830cee2564
          type: string
        is_completed:
          description: Determines whether the substep is completed in Optimizely CMP
          example: false
          type: boolean
        is_external:
          description: Determines whether the substep is external in Optimizely CMP
          example: true
          type: boolean
        is_in_progress:
          description: Determines whether the substep is In Progress in Optimizely CMP
          example: false
          type: boolean
        is_skipped:
          description: Determines whether the substep is skipped in Optimizely CMP
          example: false
          type: boolean
        links:
          additionalProperties: false
          description: Meta links
          properties:
            assignee:
              description: Assignee of the step containing the substep
              example: https://api.cmp.optimizely.com/v3/users/5fdf31d57f0d0e362e2b5908
              type:
              - string
              - 'null'
            external_work:
              description: URL of the external work associated with substep if substep is external in _Optimizely CMP_
              example: https://api.cmp.optimizely.com/v3/tasks/5d7f910551b00a722e0418830cee5534/steps/6d7f910551b00a722e0418830cee5564/sub-steps/9c7f910551b00a722e0418830cee2564/external-work
              type:
              - string
              - 'null'
            self:
              description: URL of the substep
              example: https://api.cmp.optimizely.com/v3/tasks/5d7f910551b00a722e0418830cee5534/steps/6d7f910551b00a722e0418830cee5564/sub-steps/9c7f910551b00a722e0418830cee2564
              type: string
            task:
              description: URL of the task
              example: https://api.cmp.optimizely.com/v3/tasks/5d7f910551b00a722e0418830cee5534
              type: string
          required:
          - self
          - task
          - external_work
          type: object
        title:
          description: Title of the substep
          example: Sample step
          type: string
      required:
      - id
      - title
      - assignee_id
      - assignee_type
      - is_completed
      - is_in_progress
      - is_skipped
      - is_external
      - links
      type: object
    CommentCreateRequest:
      additionalProperties: false
      properties:
        attachments:
          description: List of comment attachments.
          items:
            $ref: '#/components/schemas/AttachmentRequest'
          type: array
        value:
          description: Content of the comment. Markdown is supported. To mention a user belonging to the organization, use the `@[name](openapi-user-link)` format.
          example: Comment mentioning @[Organization User](https://api.cmp.optimizely.com/v3/users/5fe38aeb574b52a62a089238)
          minLength: 1
          type: string
      required:
      - value
      type: object
    VersionedContentTypeModel:
      properties:
        component:
          description: Indicates whether the content type is a component
          type: boolean
        content_type_guid:
          description: Unique identifier of the content type
          type: string
        created_at:
          description: Date and time on which the content type was created, in ISO 8601 UTC format
          format: date-time
          type: string
        created_by:
          description: Unique identifier of the user who created the content type
          type: string
        description:
          description: Description of the content type
          type: string
        disabled:
          description: Disabled status of the content type
          type: boolean
        links:
          description: Meta links
          properties:
            self:
              description: URL of the content type
              example: https://api.cmp.optimizely.com/v3/structured-content/content-types/9fda53cf66a14fd487251480ca695c7b
              type: string
            versions:
              description: URL of the content type versions
              example: https://api.cmp.optimizely.com/v3/structured-content/content-types/9fda53cf66a14fd487251480ca695c7b/versions
              type: string
          type: object
        name:
          description: Name of the content type
          type: string
        source:
          description: Source of the content type
          type: string
        source_id:
          description: Source of the content type
          type: string
        source_metadata:
          description: Source metadata of the content type
          type: string
        thumbnail_guid:
          description: Thumbnail GUID of the content type
          type: string
        updated_at:
          description: Date and time on which the content type was last updated, in ISO 8601 UTC format
          format: date-time
          type: string
        updated_by:
          description: Unique identifier of the user who last updated the content type
          type: string
        version:
          $ref: '#/components/schemas/SCContentTypeVersion'
      required:
      - name
      - component
      - content_type_guid
      - created_by
      - updated_by
      - created_at
      - updated_at
      - links
      - version
      type: object
    TaskAssetDraftResponse:
      additionalProperties: false
      properties:
        asset_id:
          description: Unique identifier of the asset
          example: 5d7f910551b00a722e0418830cee6631
          type: string
        content:
          additionalProperties: false
          description: Content of the draft
          properties:
            type:
              description: Type of the content
              enum:
              - url
              example: url
              type: string
            value:
              description: Content of the draft; download URL for `image`, `raw file`, and `video`
              example: http://images.cmp.optimizely.com/Zz0xODQ3NDU3Y2Y2YmYzOTlmNjkyOTgyZDY3Y2I3YWM2OA==S
              type: string
          required:
          - type
          - value
          type: object
        created_at:
          description: Date and time on which the draft was created, in ISO 8601 UTC format (2020-02-10T10:40:45Z)
          example: '2019-10-06T13:15:30Z'
          format: date-time
          type: string
        draft_number:
          description: The serial number of the draft
          example: 2
          type: integer
        links:
          additionalProperties: false
          description: Meta links
          properties:
            asset:
              description: URL of the asset that the draft is associated with
              example: https://api.cmp.optimizely.com/v3/tasks/5f857f30e1c4a2038d6179e9/images/5d7f910551b00a722e0418830cee6631
              type: string
            task:
              description: URL of the task that the asset is associated with
              example: https://api.cmp.optimizely.com/v3/tasks/5f857f30e1c4a2038d6179e9
              type: string
          required:
          - asset
          - task
          type: object
        mime_type:
          description: MIME type of the draft
          example: image/png
          type: string
        title:
          description: Title of the draft
          example: sample_image.png
          type: string
        type:
          description: Type of the draft
          enum:
          - image
          - video
          - raw_file
          example: image
          type: string
      required:
      - draft_number
      - asset_id
      - title
      - type
      - mime_type
      - created_at
      - content
      - links
      type: object
    FieldTypeCommon:
      allOf:
      - $ref: '#/components/schemas/FieldBaseType'
      - type: object
    CoreFieldDef:
      properties:
        editor_metadata:
          anyOf:
          - type: object
          - items: {}
            type: array
          description: Editor metadata of the field
        field_type:
          $ref: '#/components/schemas/FieldType'
        help_text:
          description: Helptext of the field
          type: string
        is_list:
          description: Indicates whether the field is a list
          type: boolean
        is_required:
          description: Required status of the field
          type: boolean
        key:
          description: Key of the field
          type: string
        max_list_length:
          description: Maximum length of the list
          type: integer
        min_list_length:
          description: Minimum length of the list
          type: integer
        name:
          description: Name of the field
          type: string
        need_internationalization:
          description: Indicates whether the field needs internationalization
          type: boolean
        order_index:
          description: Order index of the field
          type: integer
        source_id:
          description: Source ID of the field
          type: string
        source_metadata:
          description: Source metadata of the field
          type: string
      required:
      - key
      - name
      - is_list
      - is_required
      - need_internationalization
      type: object
    TaskAssetRequestForLibrary:
      additionalProperties: false
      properties:
        content_id:
          description: Unique identifier of the asset
          example: d1efd3c4625111f0baa002420ac8001d
          format: uuid
          type: string
        content_type:
          description: The type of asset
          enum:
          - article
          - image
          - raw_file
          - structured_content
          - video
          example: image
          type: string
        type:
          description: The mechanism for adding the asset to the task
          example: fork_from_library
          type: string
      required:
      - type
      - content_id
      - content_type
      type: object
    TaskSubStepCommentUpdateRequest:
      additionalProperties: false
      properties:
        value:
          description: Updated comment value. Markdown is supported. To mention a user belonging to the organization, use `@[name](openapi-user-link)` format.
          example: Updated comment mentioning @[Organization User](https://api.cmp.optimizely.com/v3/users/5fe38aeb574b52a62a089238)
          minLength: 1
          type: string
      required:
      - value
      type: object
    FieldTypeRadio:
      allOf:
      - $ref: '#/components/schemas/FieldBaseType'
      - properties:
          choices:
            description: Choices of the radio button
            items:
              properties:
                id:
                  description: Identifier of the choice
                  example: 6ceee2f4fa3411ecb37802420ac8001b
                  type: string
                name:
                  description: Name of the choice
                  example: Radio 1 Choice 1
                  type: string
              required:
              - id
              - name
              - color
              type: object
            type: array
        required:
        - choices
        type: object
    ObjectFieldCreateRequest:
      additionalProperties: false
      discriminator:
        mapping:
          checkbox: '#/components/schemas/MultiChoiceTypeObjectField'
          currency_number: '#/components/schemas/NumberTypeObjectField'
          date: '#/components/schemas/DateTypeObjectField'
          dropdown: '#/components/schemas/DropdownTypeObjectField'
          image: '#/components/schemas/AssetTypeObjectField'
          label: '#/components/schemas/MultiChoiceTypeObjectField'
          percentage_number: '#/components/schemas/NumberTypeObjectField'
          radio_button: '#/components/schemas/RadioButtonTypeObjectField'
          rich_text: '#/components/schemas/StringTypeObjectField'
          simple_number: '#/components/schemas/NumberTypeObjectField'
          text: '#/components/schemas/StringTypeObjectField'
          text_area: '#/components/schemas/StringTypeObjectField'
          video: '#/components/schemas/AssetTypeObjectField'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/StringTypeObjectField'
      - $ref: '#/components/schemas/MultiChoiceTypeObjectField'
      - $ref: '#/components/schemas/DropdownTypeObjectField'
      - $ref: '#/components/schemas/RadioButtonTypeObjectField'
      - $ref: '#/components/schemas/NumberTypeObjectField'
      - $ref: '#/components/schemas/DateTypeObjectField'
      - $ref: '#/components/schemas/AssetTypeObjectField'
      type: object
    AssetContent:
      additionalProperties: false
      description: Content of the asset
      properties:
        type:
          description: "Type of the content. \n - article  – `html_body`\n - image, raw_file, video  – `url`\n - structured_content  – `api_url`"
          enum:
          - url
          - api_url
          - html_body
          example: url
          type: string
        value:
          description: Content of the asset.  - article – the html body - image, raw_file, video – the download URL - structured_content – api url
          example: http://images.cmp.optimizely.com/Zz0xODQ3NDU3Y2Y2YmYzOTlmNjkyOTgyZDY3Y2I3YWM2OA==S
          type: string
      required:
      - type
      - value
      type: object
    DropdownTypeObjectField:
      allOf:
      - $ref: '#/components/schemas/BaseObjectField'
      - $ref: '#/components/schemas/DropdownTypeObjectFieldUpdatePayload'
    TaskBriefResponse:
      additionalProperties: false
      properties:
        fields:
          description: List of fields of the brief
          items:
            additionalProperties: false
            properties:
              name:
                description: Name of the brief field
                example: My Dropdown
                type: string
              settings_field_id:
                description: Unique identifier of the settings field. If available, can be used to look up the field details using settings API.
                example: 67c5684de8b943290648a693
                type:
                - string
                - 'null'
              value:
                description: List of values set for the brief field
                items:
                  description: Value set in the brief field
                  example: option 1
                  type: string
                type: array
            required:
            - id
            - name
            - value
            - is_id_settings_searchable
            type: object
          type: array
        links:
          additionalProperties: false
          description: Meta links
          properties:
            self:
              description: URL of the brief
              example: https://api.cmp.optimizely.com/v3/tasks/5f857f30e1c4a2038d6179e9/brief
              type: string
            task:
              description: URL of the task
              example: https://api.cmp.optimizely.com/v3/tasks/5f857f30e1c4a2038d6179e9
              type: string
          required:
          - self
          - task
          type: object
        template:
          allOf:
          - $ref: '#/components/schemas/TaskBriefTemplateValue'
          type:
          - object
          - 'null'
        title:
          description: Title of the task brief
          example: Awesome Task Brief
          type: string
        type:
          description: Type of the task brief
          enum:
          - template
          - attachment
          - text
          example: template
          type: string
      required:
      - type
      - title
      - fields
      - links
      type: object
    FieldTypeDropdown:
      allOf:
      - $ref: '#/components/schemas/FieldBaseType'
      - properties:
          choices:
            description: Choices of the dropdown
            items:
              properties:
                id:
                  description: Identifier of the choice
                  example: 6ceee2f4fa3411ecb37802420ac8001b
                  type: string
                name:
                  description: Name of the choice
                  example: Dropdown 1 Choice 1
                  type: string
              required:
              - id
              - name
              type: object
[...]
