openapi: 3.2.0
info:
  title: Optimizely CMP Open API Documentation Tasks API
  version: V3
  description: 'Facilitates the integration of external systems with Optimizely CMP through the following use cases:

    1.'
servers:
- description: v3 version of Optimizely CMP Open API
  url: https://api.cmp.optimizely.com/v3
security:
- OAuth2:
  - openid
  - profile
  - offline_access
tags:
- description: 'Facilitates the integration of external systems with Optimizely CMP through the following use cases:

    1.'
  name: Tasks
paths:
  /tasks:
    get:
      description: Experimental Get a list of tasks.
      operationId: listTasks
      parameters:
      - example: task 1
        in: query
        name: search_key
        schema:
          description: Search for task title
          type: string
      - example: 8n7f910o51b00b722o0418n30cie8211
        in: query
        name: campaign
        schema:
          description: Campaign id of the tasks
          type: string
      - example: 8n7f910o51b00b722o0418n30cie8211
        in: query
        name: workflow
        schema:
          description: Workflow id of the tasks
          type: string
      - example: 8n7f910o51b00b722o0418n30cie8211
        in: query
        name: milestone
        schema:
          description: Milestone id of the tasks
          type: string
      - example: '2022-08-24T00:00:00.000Z'
        in: query
        name: start_date
        schema:
          description: Start date of the tasks, in ISO 8601 UTC format
          type: string
      - example: '2022-08-24T00:00:00.000Z'
        in: query
        name: due_date
        schema:
          description: Due date of the tasks, in ISO 8601 UTC format
          type: string
      - example:
        - In Progress
        - Not Started
        in: query
        name: status
        schema:
          description: Filter tasks by status. Provide multiple statuses to filter tasks across multiple statuses.
          items:
            enum:
            - Archived
            - Completed
            - Overdue
            - Not Started
            - In Progress
            - On Hold
            type: string
          type: array
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: List of tasks
                    items:
                      $ref: '#/components/schemas/TaskListResponseItem'
                    type: array
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination'
                    - properties:
                        next:
                          example: https://api.cmp.optimizely.com/v3/tasks?offset=10&page_size=10
                          type:
                          - string
                          - 'null'
                      type: object
                required:
                - data
                - pagination
                type: object
          description: List of fetched tasks
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      summary: GET /tasks
      tags:
      - Tasks
    post:
      description: Experimental Create a task
      operationId: createTask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskCreateRequest'
        description: Payload to create a task
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
          description: Created task
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: POST /tasks
      tags:
      - Tasks
  /tasks/{id}:
    get:
      description: Get a task
      operationId: getTask
      parameters:
      - example: 7d7f910551b00a722e0418830cee6612
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
          description: Fetched task
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{id}
      tags:
      - Tasks
    patch:
      description: Update a task
      operationId: updateTask
      parameters:
      - example: 7d7f910551b00a722e0418830cee6612
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskUpdateRequest'
        description: Payload to update the task
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
          description: Updated task
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: PATCH /tasks/{id}
      tags:
      - Tasks
  /tasks/{id}/assets:
    get:
      description: Get the list of the assets or contents of a task
      operationId: listTaskAssets
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: List of assets
                    items:
                      allOf:
                      - $ref: '#/components/schemas/TaskAssetResponse'
                      - properties:
                          library_asset_id:
                            description: Unique identifier of the corresponding library asset — the library asset this task asset was forked from, or the one it was released to.
                            example: 6a8b2c3d4e5f6071829a3b4c
                            type:
                            - string
                            - 'null'
                        type: object
                    type: array
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination'
                    - properties:
                        next:
                          example: https://api.cmp.optimizely.com/v3/tasks/5f857f30e1c4a2038d6179e9/assets?offset=10&page_size=10
                          type:
                          - string
                          - 'null'
                      type: object
                required:
                - data
                - pagination
                type: object
          description: List of fetched assets
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{id}/assets
      tags:
      - Tasks
    post:
      description: This API allows you to add an asset to a task. There currently two mechanisms to add an asset - either by uploading an asset first and then calling this API (for only `images`, `videos`, and `raw files`), or by adding an asset from the library. The 'type' parameter in the request body will determine the mechanism used to add the asset. See Upload assets to upload an asset.
      operationId: addAssetToTask
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskAssetRequest'
        description: 'Payload to add an asset. There are two mechanisms for adding assets to a task:

          - `direct_upload` - An asset that has been uploaded using the [Upload assets](https://docs.developers.optimizely.com/content-marketing-platform/docs/upload-assets) endpoint.

          - `fork_from_library` - This will fork an existing asset from the library to the task.

          The `type` field is optional, and will default to `direct_upload` if not provided.

          Note: Renditions is currently not supported for library assets.

          '
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskAssetResponse'
          description: Created asset
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: POST /tasks/{id}/assets
      tags:
      - Tasks
  /tasks/{id}/attachments:
    get:
      description: Get the list of the attachments of a task
      operationId: listTaskAttachments
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: List of attachments
                    items:
                      $ref: '#/components/schemas/AttachmentResponse'
                    type: array
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination'
                    - properties:
                        next:
                          example: https://api.cmp.optimizely.com/v3/tasks/attachments?offset=10&page_size=10
                          type:
                          - string
                          - 'null'
                      type: object
                required:
                - data
                - pagination
                type: object
          description: List of fetched attachments
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{id}/attachments
      tags:
      - Tasks
  /tasks/{id}/brief:
    get:
      description: Get brief of the task
      operationId: getTaskBrief
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskBriefResponse'
          description: Fetched brief of the task
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{id}/brief
      tags:
      - Tasks
  /tasks/{id}/custom-fields:
    get:
      description: Get the list of custom fields added to a task.
      operationId: listTaskCustomFields
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: List of custom fields
                    items:
                      $ref: '#/components/schemas/TaskCustomField'
                    type: array
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination'
                    - properties:
                        next:
                          example: https://api.cmp.optimizely.com/v3/tasks/5f857f30e1c4a2038d6179e9/custom-fields?offset=10&page_size=10
                          type:
                          - string
                          - 'null'
                      type: object
                required:
                - data
                - pagination
                type: object
          description: List of fetched custom fields
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET tasks/{id}/custom-fields
      tags:
      - Tasks
  /tasks/{task_id}/articles/{article_id}:
    get:
      description: Get an article associated with the task identified by `task_id`.
      operationId: getTaskArticle
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 5d7f910551b00a722e0418830cee6631
        in: path
        name: article_id
        required: true
        schema:
          description: Unique identifier of the article associated with the task
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskArticle'
          description: Fetched article
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{task_id}/articles/{article_id}
      tags:
      - Tasks
  /tasks/{task_id}/assets/{asset_id}/comments:
    get:
      description: List all the comments for the latest version of a task asset.
      operationId: listTaskAssetComments
      parameters:
      - example: 7d7f910551b00a722e0418830cee6612
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 897f910551b00a722e0418830cee6612
        in: path
        name: asset_id
        required: true
        schema:
          description: Unique identifier of the asset
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: List of comments
                    items:
                      $ref: '#/components/schemas/TaskAssetCommentResponse'
                    type: array
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination'
                    - properties:
                        next:
                          example: https://api.cmp.optimizely.com/v3/tasks/7d7f910551b00a722e0418830cee6612/assets/897f910551b00a722e0418830cee6612/comments?offset=10&page_size=10
                          type:
                          - string
                          - 'null'
                      type: object
                type: object
          description: List of comments for the asset
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{task_id}/assets/{asset_id}/comments
      tags:
      - Tasks
    post:
      description: Add a comment to the latest version of a task asset. Supports adding comments to only **images**, **videos** and **raw files** type assets.
      operationId: addCommentToTaskAsset
      parameters:
      - example: 7d7f910551b00a722e0418830cee6612
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 897f910551b00a722e0418830cee6612
        in: path
        name: asset_id
        required: true
        schema:
          description: Unique identifier of the asset
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentCreateRequest'
        description: Payload to add comment
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskAssetCommentResponse'
          description: Added comment
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: POST /tasks/{task_id}/assets/{asset_id}/comments
      tags:
      - Tasks
  /tasks/{task_id}/assets/{asset_id}/drafts:
    get:
      description: Experimental Get the list of drafts on an asset of a task.
      operationId: listTaskAssetDrafts
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 5d7f910551b00a722e0418830cee6631
        in: path
        name: asset_id
        required: true
        schema:
          description: Unique identifier of the asset
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: List of drafts
                    items:
                      $ref: '#/components/schemas/TaskAssetDraftListResponseItem'
                    type: array
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination'
                    - properties:
                        next:
                          example: https://api.cmp.optimizely.com/v3/tasks/5f857f30e1c4a2038d6179e9/assets/5d7f910551b00a722e0418830cee6631/drafts?offset=10&page_size=10
                          type:
                          - string
                          - 'null'
                      type: object
                required:
                - data
                - pagination
                type: object
          description: List of fetched drafts
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{task_id}/assets/{asset_id}/drafts
      tags:
      - Tasks
    post:
      description: Add a new draft to a task asset. You can add a draft to only `images`, `videos`, and `raw files` type task assets. See Upload assets to upload an asset draft.
      operationId: addDraftToTaskAsset
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 5d7f910551b00a722e0418830cee6631
        in: path
        name: asset_id
        required: true
        schema:
          description: Unique identifier of the asset
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskAssetRequest'
        description: Payload to add a draft to an asset
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskAssetDraftResponse'
          description: Created draft
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: POST /tasks/{task_id}/assets/{asset_id}/drafts
      tags:
      - Tasks
  /tasks/{task_id}/assets/{asset_id}/fields:
    get:
      description: Experimental List all the fields of a task asset.
      operationId: listTaskAssetFields
      parameters:
      - example: 7d7f910551b00a722e0418830cee6612
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 897f910551b00a722e0418830cee6612
        in: path
        name: asset_id
        required: true
        schema:
          description: Unique identifier of the asset
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: List of fields
                    items:
                      $ref: '#/components/schemas/AssetFieldListResponseItem'
                    type: array
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination'
                    - properties:
                        next:
                          example: https://api.cmp.optimizely.com/v3/tasks/7d7f910551b00a722e0418830cee6612/assets/897f910551b00a722e0418830cee6612/fields?offset=10&page_size=10
                          type:
                          - string
                          - 'null'
                      type: object
                type: object
          description: List of fields for the asset
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{task_id}/assets/{asset_id}/fields
      tags:
      - Tasks
    put:
      description: Experimental Replace fields of an asset in a task.
      operationId: updateTaskAssetFields
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: asset_id
        required: true
        schema:
          description: Unique identifier of the task asset
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskAssetFieldsUpdateRequest'
        description: Payload to replace the fields
        required: true
      responses:
        '204':
          description: Fields successfulled updated.
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: PUT tasks/{task_id}/assets/{asset_id}/fields
      tags:
      - Tasks
  /tasks/{task_id}/comments:
    post:
      description: Experimental Post a comment on a task.
      operationId: addCommentToTask
      parameters:
      - example: da80cfd7bbf84959a8a981acbad996b3
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentCreateRequest'
        description: Payload to add a comment
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCommentResponse'
          description: Created a comment for the task
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: POST /tasks/{task_id}/comments
      tags:
      - Tasks
  /tasks/{task_id}/custom-fields/{custom_field_id}:
    get:
      description: Get a custom field of a task
      operationId: getTaskCustomField
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 9nu8ue9wf8u9nusd9q
        in: path
        name: custom_field_id
        required: true
        schema:
          description: Unique identifier of the custom field
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCustomField'
          description: Fetched custom field
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{task_id}/custom-fields/{custom_field_id}
      tags:
      - Tasks
    patch:
      description: 'Update a custom field of a task.

        You can update the following types: `text_field`, `multi_line_text_field`, `checkboxes`, `dropdown`, `multi_select_dropdown`, `multiple_choice`, `date_field`, `rich_text_field`'
      operationId: updateTaskCustomField
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 9nu8ue9wf8u9nusd9q
        in: path
        name: custom_field_id
        required: true
        schema:
          description: Unique identifier of the custom field
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskCustomFieldUpdateRequest'
        description: 'Payload to update the custom field.

          '
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCustomField'
          description: Updated custom field
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: PATCH /tasks/{task_id}/custom-fields/{custom_field_id}
      tags:
      - Tasks
  /tasks/{task_id}/custom-fields/{custom_field_id}/choices:
    get:
      description: Get the list of the choices of a custom field in a task.
      operationId: listTaskCustomFieldChoices
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 9nu8ue9wf8u9nusd9q
        in: path
        name: custom_field_id
        required: true
        schema:
          description: Unique identifier of the custom field
          type: string
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: List of custom field choices
                    items:
                      $ref: '#/components/schemas/TaskCustomFieldChoiceListResponseItem'
                    type: array
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination'
                    - properties:
                        next:
                          example: https://api.cmp.optimizely.com/v3/tasks/5f857f30e1c4a2038d6179e9/custom-fields/j90uv0sd9i0si09sdip/choices?offset=10&page_size=10
                          type:
                          - string
                          - 'null'
                      type: object
                required:
                - data
                - pagination
                type: object
          description: List of fetched custom field choices
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{task_id}/custom-fields/{custom_field_id}/choices
      tags:
      - Tasks
  /tasks/{task_id}/fields:
    get:
      description: Experimental Get the list of fields of a task.
      operationId: listTaskFields
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: List of fields
                    items:
                      $ref: '#/components/schemas/FieldListResponseItem'
                    type: array
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination'
                    - properties:
                        next:
                          example: https://api.cmp.optimizely.com/v3/tasks/5f857f30e1c4a2038d6179e9/fields?offset=10&page_size=10
                          type:
                          - string
                          - 'null'
                      type: object
                required:
                - data
                - pagination
                type: object
          description: List of fetched fields
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET tasks/{task_id}/fields
      tags:
      - Tasks
    post:
      description: Experimental Add a field to a task.
      operationId: addFieldToTask
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectFieldCreateRequest'
        description: Payload to add a field to a task
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectFieldCreateResponse'
          description: Added field to a task.
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: POST tasks/{task_id}/fields
      tags:
      - Tasks
  /tasks/{task_id}/fields/{field_id}:
    delete:
      description: Experimental Remove a field of a task.
      operationId: removeTaskField
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: fa63cece6aa811efb70202420ac80016
        in: path
        name: field_id
        required: true
        schema:
          description: Unique identifier of the field
          type: string
      responses:
        '204':
          description: The field is removed from the task
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: DELETE tasks/{task_id}/fields/{field_id}
      tags:
      - Tasks
    put:
      description: Experimental Update a field of a task.
      operationId: updateTaskField
      parameters:
      - example: 124p857f3i220y38ad6179e9
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 124p857f3i220y38ad6179e9
        in: path
        name: field_id
        required: true
        schema:
          description: Unique identifier of the field of the task
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskFieldUpdateRequest'
        description: Payload to update a field of a task
        required: true
      responses:
        '204':
          description: The field of the task was updated.
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: PUT tasks/{taks_id}/fields/{field_id}
      tags:
      - Tasks
  /tasks/{task_id}/images/{image_id}:
    get:
      description: Get an image associated with the task identified by `task_id`.
      operationId: getTaskImage
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 5d7f910551b00a722e0418830cee6632
        in: path
        name: image_id
        required: true
        schema:
          description: Unique identifier of the image associated with the task
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskImage'
          description: Fetched image
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{task_id}/images/{image_id}
      tags:
      - Tasks
  /tasks/{task_id}/publishing-intents:
    post:
      description: Experimental Create a publishing intent for a task on the specified publishing channel.
      operationId: createTaskPublishingIntent
      parameters:
      - example: 6a311afa4234a8b03875306c
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskPublishingIntentCreateRequest'
        description: Payload to create a publishing intent
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskPublishingIntentResponse'
          description: Created publishing intent for the task
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: POST /tasks/{task_id}/publishing-intents
      tags:
      - Tasks
  /tasks/{task_id}/raw-files/{raw_file_id}:
    get:
      description: Get a raw file associated with the task identified by `task_id`.
      operationId: getTaskRawFile
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 5d7f910551b00a722e0418830cee6634
        in: path
        name: raw_file_id
        required: true
        schema:
          description: Unique identifier of the raw file associated with the task
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskRawFile'
          description: Fetched raw file
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{task_id}/raw-files/{raw_file_id}
      tags:
      - Tasks
  /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}:
    get:
      description: Get the substep of a task
      operationId: getTaskSubStep
      parameters:
      - example: 7d7f910551b00a722e0418830cee6612
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 897f910551b00a722e0418830cee6612
        in: path
        name: step_id
        required: true
        schema:
          description: Unique identifier of the step
          type: string
      - example: 700f910551b00a722e0418830cee6612
        in: path
        name: sub_step_id
        required: true
        schema:
          description: Unique identifier of the substep
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskSubStep'
          description: Fetched task substep information
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}
      tags:
      - Tasks
    patch:
      description: Update a substep of a step in a task
      operationId: updateTaskSubStep
      parameters:
      - example: 7d7f910551b00a722e0418830cee6612
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 897f910551b00a722e0418830cee6612
        in: path
        name: step_id
        required: true
        schema:
          description: Unique identifier of the step
          type: string
      - example: 700f910551b00a722e0418830cee6612
        in: path
        name: sub_step_id
        required: true
        schema:
          description: Unique identifier of the substep
          type: string
      requestBody:
        content:
          application/json:
            examples:
              assignee_id:
                summary: Change the assignee of the substep
                value:
                  assignee_id: 5fdf31d57f0d0e362e2b5908
              is_completed:
                summary: Mark the substep as completed
                value:
                  is_completed: true
              is_in_progress:
                summary: Mark the substep as In Progress
                value:
                  is_in_progress: true
            schema:
              $ref: '#/components/schemas/TaskSubStepRequest'
        description: Payload to update the substep
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskSubStep'
          description: Fetched task substep information
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: PATCH /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}
      tags:
      - Tasks
  /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/comments:
    get:
      description: Get the list of the comments of a task substep
      operationId: listTaskSubStepComments
      parameters:
      - example: 7d7f910551b00a722e0418830cee6612
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 897f910551b00a722e0418830cee6612
        in: path
        name: step_id
        required: true
        schema:
          description: Unique identifier of the step
          type: string
      - example: 700f910551b00a722e0418830cee6612
        in: path
        name: sub_step_id
        required: true
        schema:
          description: Unique identifier of the substep
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: List of substep comments
                    items:
                      $ref: '#/components/schemas/TaskSubStepCommentResponse'
                    type: array
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination'
                    - properties:
                        next:
                          example: https://api.cmp.optimizely.com/v3/tasks/7d7f910551b00a722e0418830cee6612/steps/897f910551b00a722e0418830cee6612/sub-steps/700f910551b00a722e0418830cee6612/comments?offset=10&page_size=10
                          type:
                          - string
                          - 'null'
                      type: object
                required:
                - data
                - pagination
                type: object
          description: List of fetched task substep comments
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/comments
      tags:
      - Tasks
    post:
      description: Create a task substep comment
      operationId: addCommentToTaskSubStep
      parameters:
      - example: 7d7f910551b00a722e0418830cee6612
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 897f910551b00a722e0418830cee6612
        in: path
        name: step_id
        required: true
        schema:
          description: Unique identifier of the step
          type: string
      - example: 700f910551b00a722e0418830cee6612
        in: path
        name: sub_step_id
        required: true
        schema:
          description: Unique identifier of the substep
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentWithReplyCreateRequest'
        description: Payload to create substep comment
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskSubStepCommentResponse'
          description: Created task substep comment
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: POST /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/comments
      tags:
      - Tasks
  /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/comments/{comment_id}:
    delete:
      description: Delete a task substep comment
      operationId: deleteTaskSubStepComment
      parameters:
      - example: 7d7f910551b00a722e0418830cee6612
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 897f910551b00a722e0418830cee6612
        in: path
        name: step_id
        required: true
        schema:
          description: Unique identifier of the step
          type: string
      - example: 700f910551b00a722e0418830cee6612
        in: path
        name: sub_step_id
        required: true
        schema:
          description: Unique identifier of the substep
          type: string
      - example: 5fe3886c574b52a62a089237
        in: path
        name: comment_id
        required: true
        schema:
          description: Unique identifier of the comment
          type: string
      responses:
        '204':
          description: Deleted task substep comment
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: DELETE /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/comments/{commen…
      tags:
      - Tasks
    get:
      description: Get a task substep comment
      operationId: getTaskSubStepComment
      parameters:
      - example: 7d7f910551b00a722e0418830cee6612
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 897f910551b00a722e0418830cee6612
        in: path
        name: step_id
        required: true
        schema:
          description: Unique identifier of the step
          type: string
      - example: 700f910551b00a722e0418830cee6612
        in: path
        name: sub_step_id
        required: true
        schema:
          description: Unique identifier of the substep
          type: string
      - example: 5fe3886c574b52a62a089237
        in: path
        name: comment_id
        required: true
        schema:
          description: Unique identifier of the comment
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskSubStepCommentResponse'
          description: Fetched task substep comment
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/comments/{comment_i…
      tags:
      - Tasks
    patch:
      description: Update a task substep comment
      operationId: updateTaskSubStepComment
      parameters:
      - example: 7d7f910551b00a722e0418830cee6612
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 897f910551b00a722e0418830cee6612
        in: path
        name: step_id
        required: true
        schema:
          description: Unique identifier of the step
          type: string
      - example: 700f910551b00a722e0418830cee6612
        in: path
        name: sub_step_id
        required: true
        schema:
          description: Unique identifier of the substep
          type: string
      - example: 5fe3886c574b52a62a089237
        in: path
        name: comment_id
        required: true
        schema:
          description: Unique identifier of the comment
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskSubStepCommentUpdateRequest'
        description: Payload to update the substep comment
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskSubStepCommentResponse'
          description: Updated task substep comment
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: PATCH /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/comments/{comment…
      tags:
      - Tasks
  /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/external-work:
    get:
      description: Get the external work information of a task external substep
      operationId: getTaskSubStepExternalWork
      parameters:
      - example: 7d7f910551b00a722e0418830cee6612
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 897f910551b00a722e0418830cee6612
        in: path
        name: step_id
        required: true
        schema:
          description: Unique identifier of the step
          type: string
      - example: 700f910551b00a722e0418830cee6612
        in: path
        name: sub_step_id
        required: true
        schema:
          description: Unique identifier of the substep
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskExternalWorkResponse'
          description: Fetched external work information
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/external-work
      tags:
      - Tasks
    patch:
      description: Update the external work information of a task external substep
      operationId: updateTaskSubStepExternalWork
      parameters:
      - example: 7d7f910551b00a722e0418830cee6612
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 897f910551b00a722e0418830cee6612
        in: path
        name: step_id
        required: true
        schema:
          description: Unique identifier of the step
          type: string
      - example: 700f910551b00a722e0418830cee6612
        in: path
        name: sub_step_id
        required: true
        schema:
          description: Unique identifier of the substep
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskExternalWorkRequest'
        description: Payload to update the external work information
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskExternalWorkResponse'
          description: Updated external work information
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: PATCH /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/external-work
      tags:
      - Tasks
  /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/fields:
    get:
      description: Experimental Get the list of fields of a substep of a task.
      operationId: listTaskSubStepFields
      parameters:
      - example: 7d7f910551b00a722e0418830cee6612
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 897f910551b00a722e0418830cee6612
        in: path
        name: step_id
        required: true
        schema:
          description: Unique identifier of the step
          type: string
      - example: 700f910551b00a722e0418830cee6612
        in: path
        name: sub_step_id
        required: true
        schema:
          description: Unique identifier of the substep
          type: string
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: List of fields
                    items:
                      discriminator:
                        mapping:
                          checkbox: '#/components/schemas/FieldTypeCheckbox'
                          dropdown: '#/components/schemas/FieldTypeDropdown'
                          label: '#/components/schemas/FieldTypeLabel'
                          radio_button: '#/components/schemas/FieldTypeRadio'
                        propertyName: type
                      oneOf:
                      - $ref: '#/components/schemas/FieldTypeLabel'
                      - $ref: '#/components/schemas/FieldTypeDropdown'
                      - $ref: '#/components/schemas/FieldTypeRadio'
                      - $ref: '#/components/schemas/FieldTypeCheckbox'
                    type: array
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination'
                    - properties:
                        next:
                          example: https://api.cmp.optimizely.com/v3/tasks/7d7f910551b00a722e0418830cee6612/steps/897f910551b00a722e0418830cee6612/sub-steps/700f910551b00a722e0418830cee6612/fields?offset=10&page_size=10
                          type:
                          - string
                          - 'null'
                      type: object
                required:
                - data
                - pagination
                type: object
          description: List of fetched fields
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/fields
      tags:
      - Tasks
  /tasks/{task_id}/structured-contents:
    post:
      description: Experimental Add a new structured content to task
      operationId: addStructuredContentToTask
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskStructuredContentCreateRequest'
        description: Payload to add a structured content
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentDetailsModel'
          description: Created content
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: POST /tasks/{task_id}/structured-contents
      tags:
      - Tasks
  /tasks/{task_id}/structured-contents/{content_id}:
    delete:
      description: Experimental Delete a structured content from task
      operationId: deleteTaskStructuredContent
      parameters:
      - example: 5d7f910551b00a722e0418830cee6631
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: ff3f8e024f0611ed993202420ac8001b
        in: path
        name: content_id
        required: true
        schema:
          description: Unique identifier of the content
          type: string
      responses:
        '204':
          description: Deleted the content
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: DELETE /tasks/{task_id}/structured-contents/{content_id}
      tags:
      - Tasks
    get:
      description: Experimental Get a task structured content by its guid.
      operationId: getTaskStructuredContent
      parameters:
      - example: 645cb61c966d0c591320f636
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 5fe38c39574b52a62a089239
        in: path
        name: content_id
        required: true
        schema:
          description: Unique identifier of the structured content
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentDetailsModel'
          description: Structured content by Id for the task
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{task_id}/structured-contents/{content_id}
      tags:
      - Tasks
    patch:
      description: Experimental Update structured content using a task.
      operationId: updateTaskStructuredContent
      parameters:
      - example: da80cfd7bbf84959a8a981acbad996b3
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: da80cfd7bbf84959a8a981acbad996b3
        in: path
        name: content_id
        required: true
        schema:
          description: Unique identifier of the structured content
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskStructuredContentUpdateRequest'
        description: Payload to update structured content
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentDetailsModel'
          description: Updated structured content as response
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: PATCH /tasks/{task_id}/structured-contents/{content_id}
      tags:
      - Tasks
  /tasks/{task_id}/structured-contents/{content_id}/drafts:
    post:
      description: Experimental Create structured content draft using a task.
      operationId: createTaskStructuredContentDraft
      parameters:
      - example: da80cfd7bbf84959a8a981acbad996b3
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: da80cfd7bbf84959a8a981acbad996b3
        in: path
        name: content_id
        required: true
        schema:
          description: Unique identifier of the structured content
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskStructuredContentDraftRequest'
        description: Payload to create structured content drafts
        required: true
      responses:
        '201':
          content:
            application/json:
              example: null
              schema:
                type: object
          description: Created structured content draft as response
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: POST /tasks/{task_id}/structured-contents/{content_id}/drafts
      tags:
      - Tasks
  /tasks/{task_id}/urls:
    post:
      description: Experimental Adds a URL to a task.
      operationId: addUrlToTask
      parameters:
      - example: 68fdf93d09caf1463f145dc6
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUrlToTaskRequest'
        description: Payload to add a URL to a task
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskUrlResponse'
          description: Created task URL
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: POST /tasks/{task_id}/urls
      tags:
      - Tasks
  /tasks/{task_id}/videos/{video_id}:
    get:
      description: Get a video associated with the task identified by task_id
      operationId: getTaskVideo
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: task_id
        required: true
        schema:
          description: Unique identifier of the task
          type: string
      - example: 5d7f910551b00a722e0418830cee6633
        in: path
        name: video_id
        required: true
        schema:
          description: Unique identifier of the video associated with the task
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskVideo'
          description: Fetched video
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /tasks/{task_id}/videos/{video_id}
      tags:
      - Tasks
components:
  schemas:
    NumberFieldDefinition:
      properties:
        core:
          $ref: '#/components/schemas/CoreFieldDef'
        default_values:
          description: Default values of the field
          items:
            type: number
          type: array
        max_value:
          description: Maximum value of the field
          type: number
        min_value:
          description: Minimum value of the field
          type: number
      required:
      - core
      type: object
    TextFieldValueModel:
      properties:
        order_index:
          description: Order index of the field value
          type: integer
        text_value:
          description: Value of the field value
          type: string
      required:
      - text_value
      type: object
    FieldTypeSimpleNumber:
      allOf:
      - $ref: '#/components/schemas/FieldBaseType'
      - properties:
          decimal_places:
            description: Decimal place of the numerical field
            example: 2
            type:
            - integer
            - 'null'
          has_thousand_separator:
            description: Whether the numerical field has a thousand separator
            example: true
            type: boolean
        required:
        - has_thousand_separator
        - decimal_places
        type: object
    TaskPublishingIntentCreateRequest:
      additionalProperties: false
      properties:
        channel_id:
          description: Unique identifier of the target publishing channel
          example: 6a2fd16faec3bed9c72f7d4f
          type: string
      required:
      - channel_id
      type: object
    TaskFieldUpdateRequest:
      additionalProperties: false
      discriminator:
        mapping:
          checkbox: '#/components/schemas/MultiChoiceTypeObjectFieldUpdatePayload'
          currency_number: '#/components/schemas/NumberTypeObjectFieldUpdatePayload'
          date: '#/components/schemas/DateTypeObjectFieldUpdatePayload'
          dropdown: '#/components/schemas/DropdownTypeObjectFieldUpdatePayload'
          image: '#/components/schemas/AssetTypeObjectFieldUpdatePayload'
          label: '#/components/schemas/MultiChoiceTypeObjectFieldUpdatePayload'
          percentage_number: '#/components/schemas/NumberTypeObjectFieldUpdatePayload'
          radio_button: '#/components/schemas/RadioButtonTypeObjectFieldUpdatePayload'
          rich_text: '#/components/schemas/StringTypeObjectFieldUpdatePayload'
          simple_number: '#/components/schemas/NumberTypeObjectFieldUpdatePayload'
          text: '#/components/schemas/StringTypeObjectFieldUpdatePayload'
          text_area: '#/components/schemas/StringTypeObjectFieldUpdatePayload'
          video: '#/components/schemas/AssetTypeObjectFieldUpdatePayload'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/StringTypeObjectFieldUpdatePayload'
      - $ref: '#/components/schemas/MultiChoiceTypeObjectFieldUpdatePayload'
      - $ref: '#/components/schemas/DropdownTypeObjectFieldUpdatePayload'
      - $ref: '#/components/schemas/RadioButtonTypeObjectFieldUpdatePayload'
      - $ref: '#/components/schemas/NumberTypeObjectFieldUpdatePayload'
      - $ref: '#/components/schemas/DateTypeObjectFieldUpdatePayload'
      - $ref: '#/components/schemas/AssetTypeObjectFieldUpdatePayload'
      type: object
    Error:
      additionalProperties: true
      description: Error payload
      properties:
        errors:
          additionalProperties: true
          description: Additional information
          properties: {}
          type: object
        message:
          description: Message describing the error
          example: Not found
          type: string
      required:
      - message
      type: object
    ContentFieldWithEmbeddedPatchValueModel:
      properties:
        content_id:
          type: string
        patch_details:
          $ref: '#/components/schemas/RecursivePatchStructuredContentFields'
      required:
      - content_id
      - patch_details
      type: object
    FieldType:
      description: An enumeration.
      enum:
      - boolean
      - number
      - text-field
      - rich-text
      - datetime
      - library-asset
      - content-type
      - json
      - url
      - choice
      - location
      type: string
    TaskExternalWorkRequest:
      additionalProperties: false
      properties:
        identifier:
          description: Identifier of the external work
          example: MY-PROJ-123
          maxLength: 50
          minLength: 1
          type:
          - string
          - 'null'
        status:
          description: Status of the external work
          example: In Progress
          maxLength: 128
          minLength: 1
          type:
          - string
          - 'null'
        title:
          description: Title of the external work
          example: A very important ticket
          maxLength: 128
          minLength: 1
          type:
          - string
          - 'null'
        url:
          description: Link to the external work (must be a valid URL with HTTPS scheme)
          example: https://example.com/some-project/MY-PROJ-123
          maxLength: 500
          type:
          - string
          - 'null'
      type: object
    AssetFieldTypePercentageNumber:
      allOf:
      - $ref: '#/components/schemas/BaseAssetField'
      - properties:
          decimal_places:
            description: Decimal place of the numerical field
            example: 2
            type:
            - integer
            - 'null'
        required:
        - decimal_places
        type: object
    DateTypeObjectFieldUpdatePayload:
      allOf:
      - $ref: '#/components/schemas/BaseObjectFieldUpdatePayload'
      - properties:
          values:
            description: Array of date-time values, in ISO 8601 UTC format (2020-02-10T10:40:45Z)
            items:
              description: Date and time, in ISO 8601 UTC format (2020-02-10T10:40:45Z)
              example: '2020-02-10T10:40:45Z'
              format: date-time
              type: string
            maxItems: 1
            type: array
        type: object
    TaskSubStepCommentResponse:
      additionalProperties: false
      properties:
        attachments:
          description: List of attachments of the comment
          example:
          - id: a113667245d111eb8945000c
            name: sample.png
            url: https://files.cmp.optimizely.com/download/96c314a645d111eb8945000c291b51d4?token=
          items:
            $ref: '#/components/schemas/AttachmentResponse'
          type: array
        created_at:
          description: Creation date and time of the task substep comment,  in ISO 8601 UTC format (2020-02-10T10:40:45Z)
          example: '2020-10-06T13:15:30Z'
          format: date-time
          type: string
        id:
          description: Unique identifier of the substep comment
          example: 5fe38c39574b52a62a089239
          type: string
        is_resolved:
          description: Determines if the comment is resolved in Optimizely CMP
          example: false
          type: boolean
        links:
          additionalProperties: false
          description: Meta links
          properties:
            comment_by:
              description: Creator of the substep comment
              example: https://api.cmp.optimizely.com/v3/users/5fe38eea574b52a62a08923a
              type: string
            self:
              description: URL of the substep comment
              example: https://api.cmp.optimizely.com/v3/tasks/5d7f910551b00a722e0418830cee5534/steps/6d7f910551b00a722e0418830cee5564/sub-steps/9c7f910551b00a722e0418830cee2564
              type: string
            sub_step:
              description: URL of the substep
              example: https://api.cmp.optimizely.com/v3/tasks/5d7f910551b00a722e0418830cee5534/steps/6d7f910551b00a722e0418830cee5564/sub-steps/9c7f910551b00a722e0418830cee2564
              type: string
            task:
              description: URL of the task
              example: https://api.cmp.optimizely.com/v3/tasks/5d7f910551b00a722e0418830cee5534
              type: string
          required:
          - self
          - comment_by
          - task
          - sub_step
          type: object
        modified_at:
          description: Last modification date and time of the task substep comment,  in ISO 8601 UTC format (2020-02-10T10:40:45Z)
          example: '2020-10-06T14:15:30Z'
          format: date-time
          type: string
        value:
          description: Content of the comment
          example: Well done!
          type: string
      required:
      - id
      - value
      - is_resolved
      - created_at
      - modified_at
      - attachments
      type: object
    TaskAssetRequest:
      additionalProperties: false
      discriminator:
        mapping:
          direct_upload: '#/components/schemas/TaskAssetRequestForDirectUpload'
          fork_from_library: '#/components/schemas/TaskAssetRequestForLibrary'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/TaskAssetRequestForDirectUpload'
      - $ref: '#/components/schemas/TaskAssetRequestForLibrary'
      type: object
    Pagination:
      additionalProperties: false
      description: Pagination related information
      properties:
        next:
          description: URL to the next page
          example: https://api.cmp.optimizely.com/<some-path-to-next-page>?offset=10&page_size=10
          type:
          - string
          - 'null'
        previous:
          description: URL to the previous page
          example: null
          type:
          - string
          - 'null'
      required:
      - next
      - previous
      type: object
    RichTextFieldDefinition:
      properties:
        core:
          $ref: '#/components/schemas/CoreFieldDef'
        default_values:
          description: Default values of the field
          items:
            type: string
          type: array
        max_visual_text_length:
          description: Maximum length of the field
          type: integer
        min_visual_text_length:
          description: Minimum length of the field
          type: integer
      required:
      - core
      - min_visual_text_length
      type: object
    TextFieldDefinition:
      properties:
        core:
          $ref: '#/components/schemas/CoreFieldDef'
        default_values:
          description: Default values of the field
          items:
            type: string
          type: array
        max_length:
          description: Maximum length of the field
          type: integer
        min_length:
          description: Minimum length of the field
          type: integer
        validation_pattern:
          description: Validation pattern of the field
          type: string
      required:
      - core
      - validation_pattern
      - min_length
      type: object
    StringTypeObjectField:
      allOf:
      - $ref: '#/components/schemas/BaseObjectField'
      - $ref: '#/components/schemas/StringTypeObjectFieldUpdatePayload'
    BaseObjectFieldUpdatePayload:
      properties:
        type:
          description: Type of the field
          example: checkbox
          type: string
        values:
          description: Values for the campaign field
          type: array
      required:
      - type
      - values
      type: object
    FieldTypeCommon:
      allOf:
      - $ref: '#/components/schemas/FieldBaseType'
      - type: object
    MultiChoiceTypeObjectFieldUpdatePayload:
      allOf:
      - $ref: '#/components/schemas/BaseObjectFieldUpdatePayload'
      - properties:
          values:
            description: Array of choice IDs
            items:
              example: 9119a313057e401189407116fcd3
              type: string
            type: array
        type: object
    BaseFieldDefinitionType:
      description: An enumeration.
      enum:
      - boolean
      - json
      - url
      - location
      type: string
    RichTextFieldValueModel:
      properties:
        order_index:
          description: Order index of the field value
          type: integer
        rich_text_value:
          description: Value of the field value
          type: string
      required:
      - rich_text_value
      type: object
    TaskVideo:
      additionalProperties: false
      properties:
        created_at:
          description: Date and time when the video was created,  in ISO 8601 UTC format (2020-02-10T10:40:45Z)
          example: '2019-10-06T13:15:30Z'
          format: date-time
          type: string
        file_size:
          description: Size of the video in bytes
          example: 11244
          type: integer
        id:
          description: Unique identifier for the video
          example: 5d7f910551b00a722e0418830cee6633
          type: string
        labels:
          description: Labels associated with the video
          items:
            $ref: '#/components/schemas/ResourceLabelResponse'
          type: array
        library_asset_id:
          description: Unique identifier of the corresponding library asset — the library asset this task asset was forked from, or the one it was released to.
          example: 6a8b2c3d4e5f6071829a3b4c
          type:
          - string
          - 'null'
        links:
          additionalProperties: false
          description: Meta links
          properties:
            drafts:
              description: URL to POST draft to the video
              example: https://api.cmp.optimizely.com/v3/tasks/5f857f30e1c4a2038d6179e9/assets/5d7f910551b00a722e0418830cee6633/drafts
              type: string
            self:
              description: URL of the video
              example: https://api.cmp.optimizely.com/v3/tasks/5f857f30e1c4a2038d6179e9/videos/5d7f910551b00a722e0418830cee6633
              type: string
            task:
              description: URL of the task that the video is associated with
              example: https://api.cmp.optimizely.com/v3/tasks/5f857f30e1c4a2038d6179e9
              type: string
            web_urls:
              additionalProperties: false
              description: Web URLs
              properties:
                drafts:
                  description: Web URL of the drafts of the video
                  example: https://cmp.optimizely.com/cloud/task/5f857f30e1c4a2038d6179e9/video/5d7f910551b00a722e0418830cee6633
                  type: string
                self:
                  description: Web URL of the video
                  example: https://cmp.optimizely.com/cloud/taskv3/5f857f30e1c4a2038d6179e9?contentTabGuid=5d7f910551b00a722e0418830cee6633
                  type: string
                task:
                  description: Web URL of the task that the video is associated with
                  example: https://cmp.optimizely.com/cloud/taskv3/5f857f30e1c4a2038d6179e9
                  type: string
              required:
              - self
              - task
              - drafts
              type: object
          required:
          - self
          - task
          - drafts
          - web_urls
          type: object
        mime_type:
          description: MIME type of the video
          example: video/mp4
          type: string
        modified_at:
          description: Date and time of the most recent modification of the video, in ISO 8601 UTC format (2020-02-10T10:40:45Z)
          example: '2019-10-07T13:15:30Z'
          format: date-time
          type: string
        title:
          description: Title of the video
          example: product.mp4
          type: string
        url:
          description: Download URL of the video
          example: https://videos.cmp.optimizely.com/03a747babe81ceb55763fa085bqa20dc
          type: string
      required:
      - id
      - title
      - mime_type
      - created_at
      - modified_at
      - file_size
      - url
      - labels
      - links
      type: object
    ResourceLabelResponse:
      additionalProperties: false
      description: Label associated to a fetched resource
      properties:
        group:
          additionalProperties: false
          description: Label group
          properties:
            id:
              description: Identifier of the label group
              example: 2467e583a60e23fda2b89db81a453cd2
              type: string
            name:
              description: Name of the label group
              example: Content Format
              type: string
          required:
          - id
          - name
          type: object
        values:
          description: List of values of the label
          items:
            additionalProperties: false
            properties:
              id:
                description: Identifier of the label value
                example: 71c378f3fee3d822759d1bdc2aab628c
                type: string
              name:
                description: Name of the label value
                example: Photos
                type: string
            required:
            - id
            - name
            type: object
          type: array
      required:
      - group
      - values
      type: object
    MultiChoiceTypeObjectField:
      allOf:
      - $ref: '#/components/schemas/BaseObjectField'
      - $ref: '#/components/schemas/MultiChoiceTypeObjectFieldUpdatePayload'
    ContentFieldValueModel:
      properties:
        content_guid:
          description: Content GUID of the field value
          type: string
        content_url:
          description: Content URL of the field value
          type: string
        embedded:
          description: Indicates whether the field value is embedded
          type: boolean
        order_index:
          description: Order index of the field value
          type: integer
      required:
      - content_guid
      - embedded
      type: object
    TaskAssetRequestForLibrary:
      additionalProperties: false
      properties:
        content_id:
          description: Unique identifier of the asset
          example: d1efd3c4625111f0baa002420ac8001d
          format: uuid
          type: string
        content_type:
          description: The type of asset
          enum:
          - article
          - image
          - raw_file
          - structured_content
          - video
          example: image
          type: string
        type:
          description: The mechanism for adding the asset to the task
          example: fork_from_library
          type: string
      required:
      - type
      - content_id
      - content_type
      type: object
    RadioButtonTypeObjectFieldUpdatePayload:
      allOf:
      - $ref: '#/components/schemas/BaseObjectFieldUpdatePayload'
      - properties:
          values:
            description: Accepts a single choice Id.
            items:
              example: 9119a313057e401189407116fcd3
              type: string
            maxItems: 1
            type: array
        type: object
    VersionedContentTypeModel:
      properties:
        component:
          description: Indicates whether the content type is a component
          type: boolean
        content_type_guid:
          description: Unique identifier of the content type
          type: string
        created_at:
          description: Date and time on which the content type was created, in ISO 8601 UTC format
          format: date-time
          type: string
        created_by:
          description: Unique identifier of the user who created the content type
          type: string
        description:
          description: Description of the content type
          type: string
        disabled:
          description: Disabled status of the content type
          type: boolean
        links:
          description: Meta links
          properties:
            self:
              description: URL of the content type
              example: https://api.cmp.optimizely.com/v3/structured-content/content-types/9fda53cf66a14fd487251480ca695c7b
              type: string
            versions:
              description: URL of the content type versions
              example: https://api.cmp.optimizely.com/v3/structured-content/content-types/9fda53cf66a14fd487251480ca695c7b/versions
              type: string
          type: object
        name:
          description: Name of the content type
          type: string
        source:
          description: Source of the content type
          type: string
        source_id:
          description: Source of the content type
          type: string
        source_metadata:
          description: Source metadata of the content type
          type: string
        thumbnail_guid:
          description: Thumbnail GUID of the content type
          type: string
        updated_at:
          description: Date and time on which the content type was last updated, in ISO 8601 UTC format
          format: date-time
          type: string
        updated_by:
          description: Unique identifier of the user who last updated the content type
          type: string
        version:
          $ref: '#/components/schemas/SCContentTypeVersion'
      required:
      - name
      - component
      - content_type_guid
      - created_by
      - updated_by
      - created_at
      - updated_at
      - links
      - version
      type: object
    ChoiceFieldValueModel:
      properties:
        choice_key:
          description: Choice key of the field value
          type: string
        order_index:
          description: Order index of the field value
          type: integer
      required:
      - choice_key
      type: object
    TaskCustomField:
      additionalProperties: false
      properties:
        id:
          description: Unique identifier for the custom field
          example: 9nu8ue9wf8u9nusd9q
          type: string
        links:
          additionalProperties: false
          description: Meta links
          properties:
            choices:
              description: URL of the available custom field choices
              example: https://api.cmp.optimizely.com/v3/tasks/5f857f30e1c4a2038d6179e9/custom-fields/9nu8ue9wf8u9nusd9q/choices
              type:
              - string
              - 'null'
            self:
              description: URL of the custom field
              example: https://api.cmp.optimizely.com/v3/tasks/5f857f30e1c4a2038d6179e9/custom-fields/9nu8ue9wf8u9nusd9q
              type: string
          required:
          - self
          - choices
          type: object
        name:
          description: Name of the custom field
          example: My Dropdown
          type: string
        type:
          description: Type of the custom field
          enum:
          - text_field
          - multi_line_text_field
          - checkboxes
          - dropdown
          - multi_select_dropdown
          - multiple_choice
          - date_field
          - image
          - video
          - rich_text_field
          example: dropdown
          type: string
        values:
          description: List of values of the custom field
          items:
            additionalProperties: false
            properties:
              id:
                description: Identifier of the custom field value
                example: 1nu8ue9wf8u9nusd9u
                type:
                - string
                - 'null'
              name:
                description: Name of the custom field value
                example: Some text
                type: string
            required:
            - id
            - name
            type: object
          type: array
      required:
      - id
      - name
      - type
      - values
      - links
      type: object
    FieldTypeRadio:
      allOf:
      - $ref: '#/components/schemas/FieldBaseType'
      - properties:
          choices:
            description: Choices of the radio button
            items:
              properties:
                id:
                  description: Identifier of the choice
                  example: 6ceee2f4fa3411ecb37802420ac8001b
                  type: string
                name:
                  description: Name of the choice
                  example: Radio 1 Choice 1
                  type: string
              required:
              - id
              - name
              - color
              type: object
            type: array
        required:
        - choices
        type: object
    ObjectFieldCreateRequest:
      additionalProperties: false
      discriminator:
        mapping:
          checkbox: '#/components/schemas/MultiChoiceTypeObjectField'
          currency_number: '#/components/schemas/NumberTypeObjectField'
          date: '#/components/schemas/DateTypeObjectField'
          dropdown: '#/components/schemas/DropdownTypeObjectField'
          image: '#/components/schemas/AssetTypeObjectField'
          label: '#/components/schemas/MultiChoiceTypeObjectField'
          percentage_number: '#/components/schemas/NumberTypeObjectField'
          radio_button: '#/components/schemas/RadioButtonTypeObjectField'
          rich_text: '#/components/schemas/StringTypeObjectField'
          simple_number: '#/components/schemas/NumberTypeObjectField'
          text: '#/components/schemas/StringTypeObjectField'
          text_area: '#/components/schemas/StringTypeObjectField'
          video: '#/components/schemas/AssetTypeObjectField'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/StringTypeObjectField'
      - $ref: '#/components/schemas/MultiChoiceTypeObjectField'
      - $ref: '#/components/schemas/DropdownTypeObjectField'
      - $ref: '#/components/schemas/RadioButtonTypeObjectField'
      - $ref: '#/components/schemas/NumberTypeObjectField'
      - $ref: '#/components/schemas/DateTypeObjectField'
      - $ref: '#/components/schemas/AssetTypeObjectField'
      type: object
    error_reason:
      description: An enumeration.
      enum:
      - REQUIRED_FIELD_ABSENT
      - LIST_EMPTY
      - INVALID_STATE
      - INVALID_SELF_REF
      - MIN_NOT_MET
      - MAX_NOT_MET
      - PATTERN_ERROR
      title: error_reason
      type: string
    TaskListResponseItem:
      additionalProperties: false
      properties:
        campaign_id:
          description: Unique identifier of the campaign
          example: 8n7f910o51b00b722o0418n30cie8211
          type:
          - string
          - 'null'
        due_at:
          description: Due date of the task in ISO 8601 UTC format
          example: '2024-06-01T06:00:00Z'
          type:
          - string
          - 'null'
        id:
          description: Unique identifier of the task
          example: 837f910551b00a722e0418830cee6612
          type: string
        is_archived:
          description: Whether the task is archived or not
          example: false
          type: boolean
        is_completed:
          description: Whether the task is completed or not
          example: false
          type: boolean
        links:
          additionalProperties: false
          description: Meta links
          properties:
            campaign:
              description: URL of the campaign that the task is associated with
              example: https://api.cmp.optimizely.com/v3/campaigns/2e7f9107351b00a722e0412230cee5534
              type:
              - string
              - 'null'
            milestone:
              description: URL of the milestone that the task is associated with
              example: https://api.cmp.optimizely.com/v3/milestones/63f1c2b675be4132854d2741
              type:
              - string
              - 'null'
            self:
              description: URL of the task
              example: https://api.cmp.optimizely.com/v3/tasks/5d7f910551b00a722e0418830cee5534
              type: string
            web_urls:
              additionalProperties: false
              description: Web URLs
              properties:
                self:
                  description: Web URL of the task
                  example: https://cmp.optimizely.com/cloud/taskv3/5c52cc153db27d0e5141146f
                  type: string
              required:
              - self
              type: object
            workflow:
              description: URL of the workflow the task
              example: https://api.cmp.optimizely.com/v3/workflows/63f1c2b675be4132854d2741
              type:
              - string
              - 'null'
          required:
          - self
          - campaign
          - workflow
          - milestone
          - web_urls
          type: object
        milestone_id:
          description: Unique identifier of the milestone
          example: 8n7f910o51b00b722o0418n30cie8211
          type:
          - string
          - 'null'
        modified_at:
          description: Modified date of the task in ISO 8601 UTC format
          example: '2024-06-01T06:00:00Z'
          type:
          - string
          - 'null'
        reference_id:
          description: Reference identifier of the task
          example: TSK-1589
          type: string
        start_at:
          description: Start date of the task in ISO 8601 UTC format
          example: '2024-06-01T06:00:00Z'
          type:
          - string
          - 'null'
        status:
          description: Current status of the task
          enum:
          - Archived
          - Completed
          - Overdue
          - Not Started
          - In Progress
          - On Hold
          example: Not Started
          type: string
        title:
          description: Title of the task
          example: The awesome task
          type: string
        workflow_id:
          description: Unique identifier of the workflow
          example: 8n7f910o51b00b722o0418n30cie8211
          type:
          - string
          - 'null'
      required:
      - id
      - title
      - start_at
      - due_at
      - modified_at
      - reference_id
      - campaign_id
      - workflow_id
      - milestone_id
      - is_completed
      - is_archived
      - status
      - links
      type: object
    TaskSubStepRequest:
      additionalProperties: false
      properties:
        assignee_id:
          description: ID of the assignee for the substep; cannot be passed together with `is_completed`, `is_in_progress` or `is_skipped`
          example: 5fdf31d57f0d0e362e2b5908
          type:
          - string
          - 'null'
        assignee_type:
          description: Type of the assignee for the substep. If not provided with `assignee_id`, defaults to `user`.
          enum:
          - user
          - team
          example: user
          type: string
        is_completed:
          description: Whether the substep should be completed; cannot be passed together with `is_in_progress`, `is_skipped` or `assignee_id`
          enum:
          - true
          example: true
          type: boolean
        is_in_progress:
          description: Whether the substep should be progressed; cannot be passed together with `is_completed`, `is_skipped` or `assignee_id`
          enum:
          - true
          example: true
          type: boolean
        is_skipped:
          description: Whether the substep should be skipped; cannot be passed together with `is_in_progress`, `is_completed` or `assignee_id`
          enum:
          - true
          type: boolean
      type: object
    LocalizedFieldValuesWithEmbeddedContent:
      properties:
        field_values:
          items:
            anyOf:
[...]
