openapi: 3.2.0
info:
  title: Optimizely CMP Open API Documentation Library API
  version: V3
servers:
- description: v3 version of Optimizely CMP Open API
  url: https://api.cmp.optimizely.com/v3
security:
- OAuth2:
  - openid
  - profile
  - offline_access
tags:
- name: Library
paths:
  /articles/{id}:
    get:
      description: Get an article
      operationId: getArticle
      parameters:
      - example: 5d7f910551b00a722e0418830cee6631
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the article
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryArticle'
          description: Fetched article
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /articles/{id}
      tags:
      - Library
  /asset-lineages:
    get:
      description: Experimental Get the list of asset lineage.
      operationId: listAssetLineages
      parameters:
      - example: 1265ca474ba987cc925164aa7
        in: query
        name: asset_id
        schema:
          description: Unique identifier of the asset. Can be appended multiple times, such as `asset_id=assetId1&asset_id=assetId2`
          type: string
      - example: external
        in: query
        name: used_in
        schema:
          description: Indicates where an asset is being used.
          enum:
          - external
          type: string
      - description: Date and time as the lower limit to filter asset lineages by `created_at`, in ISO 8601 UTC format
        example: '2018-11-30T13:32:44Z'
        in: query
        name: created_at__from
        required: false
        schema:
          format: date-time
          type: string
      - description: Date and time as the upper limit to filter asset lineages by `created_at`, in ISO 8601 UTC format
        example: '2018-11-30T13:32:44Z'
        in: query
        name: created_at__to
        required: false
        schema:
          format: date-time
          type: string
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: List of asset lineage
                    items:
                      $ref: '#/components/schemas/AssetLineageResponse'
                    type: array
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination'
                    - properties:
                        next:
                          example: https://api.cmp.optimizely.com/v3/asset-lineages?offset=10&page_size=10
                          type:
                          - string
                          - 'null'
                      type: object
                required:
                - data
                - pagination
                type: object
          description: List of fetched asset lineage
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      summary: GET /asset-lineages
      tags:
      - Library
  /assets:
    get:
      description: 'Get the list of assets. Assets are sorted by `modified_at` in descending order.

        To get assets that are not inside any folder, pass `include_subfolder_assets=false` in the query param.'
      operationId: listAssets
      parameters:
      - description: 'Asset type to filter by. Example: `type=image&type=video`'
        examples:
          multiple:
            summary: Filter by multiple types
            value:
            - article
            - image
            - video
          single:
            summary: Filter by a single type
            value:
            - image
        explode: true
        in: query
        name: type
        schema:
          default:
          - article
          - image
          - video
          - raw_file
          - structured_content
          items:
            enum:
            - article
            - image
            - video
            - raw_file
            - structured_content
            type: string
          type: array
        style: form
      - description: Label to filter by. **Must be passed as urlencoded string**. Labels that do not exist are ignored. If none of the provided labels exist, filtering is not applied. Example – `label=%7B%22group%22%3A%22ee63e3ee43925bb5cc8cd17b817d93ee%22%2C%22values%22%3A%5B%226706efc7828cd6aaedbc0434139cd3e1%22%2C%221f32651216cf2aefcaa08be1ea7dedf1%22%5D%7D`
        examples:
          multiple:
            summary: Filter by multiple labels
            value:
            - '{"group": "ee63e3ee43925bb5cc8cd17b817d93ee", "values": ["6706efc7828cd6aaedbc0434139cd3e1", "1f32651216cf2aefcaa08be1ea7dedf1"]}'
            - '{"group": "126123b543912bb5cc12d17b817d9312", "values": ["aa63e3ee43925bb5cc8cd17b817d93aa", "df697bd824a944bf7d4fb6e350d9c5bd"]}'
          single:
            summary: Filter by a single label
            value:
            - '{"group": "ee63e3ee43925bb5cc8cd17b817d93ee", "values": ["6706efc7828cd6aaedbc0434139cd3e1", "1f32651216cf2aefcaa08be1ea7dedf1"]}'
        explode: true
        in: query
        name: label
        schema:
          items:
            additionalProperties: false
            properties:
              group:
                description: Identifier of the label group
                example: 2467e583a60e23fda2b89db81a453cd2
                type: string
              values:
                description: List of identifiers of the label values
                items:
                  description: Identifier of the label value
                  example: 71c378f3fee3d822759d1bdc2aab628c
                  type: string
                type: array
            required:
            - group
            - values
            type: object
          type: array
        style: form
      - description: List of fields to filter by. **Must be passed as base64 encoded string**. Fields that do not exist are ignored. If none of the provided fields exist, filtering is not applied. Example – `fields=Wwp7CiJpZCI6ICI2N2E4NDZhMWM3NzU1YTFwNThpNjh5MzVhIiwKInZhbHVlcyI6IFsiNjdhODQ2YTFjNzc1YWU1YWExYTE0YTA1Il0KfQpd=`
        examples:
          multiple:
            summary: Filter by multiple fields
            value:
            - '[{"id": "ee63e3ee43925bb5cc8cd17b817d93ee", "values": ["6706efc7828cd6aaedbc0434139cd3e1", "1f32651216cf2aefcaa08be1ea7dedf1"]}, {"id": "126123b543912bb5cc12d17b817d9312", "values": ["aa63e3ee43925bb5cc8cd17b817d93aa", "df697bd824a944bf7d4fb6e350d9c5bd"]}]'
          single:
            summary: Filter by a single field
            value:
            - '[{"id": "ee63e3ee43925bb5cc8cd17b817d93ee", "values": ["6706efc7828cd6aaedbc0434139cd3e1", "1f32651216cf2aefcaa08be1ea7dedf1"]}]'
        explode: true
        in: query
        name: fields
        schema:
          items:
            additionalProperties: false
            properties:
              id:
                description: Identifier of the field
                example: 2467e583a60e23fda2b89db81a453cd2
                type: string
              values:
                description: List of identifiers of the field values
                items:
                  description: Identifier of the field value
                  example: 71c378f3fee3d822759d1bdc2aab628c
                  type: string
                type: array
            required:
            - id
            - values
            type: object
          type: array
        style: form
      - description: Date and time as the lower limit to filter assets by `created_at`, in ISO 8601 UTC format
        example: '2018-11-30T13:32:44Z'
        in: query
        name: created_at__from
        required: false
        schema:
          format: date-time
          type: string
      - description: Date and time as the upper limit to filter assets by `created_at`, in ISO 8601 UTC format
        example: '2018-11-30T13:32:44Z'
        in: query
        name: created_at__to
        required: false
        schema:
          format: date-time
          type: string
      - description: Date and time as the lower limit to filter assets by `modified_at`, in ISO 8601 UTC format
        example: '2018-11-30T13:32:44Z'
        in: query
        name: modified_at__from
        required: false
        schema:
          format: date-time
          type: string
      - description: Date and time as the upper limit to filter assets by `modified_at`, in ISO 8601 UTC format
        example: '2018-11-30T13:32:44Z'
        in: query
        name: modified_at__to
        required: false
        schema:
          format: date-time
          type: string
      - description: ID of the library folder to include assets from
        example: 6bb8db20a5b611ebae319b7c541b1a7f
        in: query
        name: folder_id
        required: false
        schema:
          type: string
      - description: Indicates whether assets from subfolders need to be included
        example: 'false'
        in: query
        name: include_subfolder_assets
        required: false
        schema:
          default: true
          type: boolean
      - description: Search assets by title or content description
        example: Cute Cat
        in: query
        name: search_text
        required: false
        schema:
          type: string
      - description: ID of the campaign to include assets from
        example: 673218bee23887779e9e9a6f
        in: query
        name: campaign_id
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: List of assets
                    items:
                      $ref: '#/components/schemas/AssetResponse'
                    type: array
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination'
                    - properties:
                        next:
                          example: https://api.cmp.optimizely.com/v3/assets?offset=10&page_size=10
                          type:
                          - string
                          - 'null'
                      type: object
                  total_count:
                    description: Total number of assets found based on the request
                    type: number
                required:
                - data
                - pagination
                - total_count
                type: object
          description: List of fetched assets
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      summary: GET /assets
      tags:
      - Library
    post:
      description: Create a new asset. Supports only `images`, `videos`, and `raw files`. See Upload assets to upload an asset.
      operationId: createAsset
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LibraryAssetCreateRequest'
        description: Payload to create an asset
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
          description: Created asset
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      summary: POST /assets
      tags:
      - Library
  /assets/{asset_id}/fields:
    get:
      description: Experimental Get the list of fields of an asset.
      operationId: listAssetFields
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: asset_id
        required: true
        schema:
          description: Unique identifier of the asset
          type: string
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: List of fields
                    items:
                      $ref: '#/components/schemas/AssetFieldListResponseItem'
                    type: array
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination'
                    - properties:
                        next:
                          example: https://api.cmp.optimizely.com/v3/assets/5f857f30e1c4a2038d6179e9/fields?offset=10&page_size=10
                          type:
                          - string
                          - 'null'
                      type: object
                required:
                - data
                - pagination
                type: object
          description: List of fetched fields
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET assets/{asset_id}/fields
      tags:
      - Library
    put:
      description: Experimental Replace existing fields of an asset.
      operationId: updateAssetFields
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: asset_id
        required: true
        schema:
          description: Unique identifier of the asset
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetFieldsUpdateRequest'
        description: Payload to replace the fields
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: List of fields
                    items:
                      $ref: '#/components/schemas/AssetFieldListResponseItem'
                    type: array
                  links:
                    additionalProperties: false
                    description: Meta links
                    properties:
                      asset_fields:
                        description: URL to get the asset fields
                        example: https://api.cmp.optimizely.com/v3/assets/5f857f30e1c4a2038d6179e9/fields
                        type: string
                      asset_url:
                        description: URL of the asset
                        example: https://api.cmp.optimizely.com/v3/asset-urls/5f857f30e1c4a2038d6179e9
                        type: string
                    required:
                    - asset_fields
                    - asset_url
                    type: object
                required:
                - data
                - links
                type: object
          description: List of fields after replacement
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: PUT /assets/{asset_id}/fields
      tags:
      - Library
  /assets/{asset_id}/fields/{field_id}:
    put:
      description: Experimental Update the field value of an asset.
      operationId: updateAssetField
      parameters:
      - example: 5f857f30e1c4a2038d6179e9
        in: path
        name: asset_id
        required: true
        schema:
          description: Unique identifier of the asset
          type: string
      - example: 4f857f30e1c4a2038d6179e7
        in: path
        name: field_id
        required: true
        schema:
          description: Unique identifier of the field of the asset
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetFieldUpdateRequest'
        description: Payload to update the field value
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetFieldUpdateResponse'
          description: Updated the asset field
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: PUT /assets/{asset_id}/fields/{field_id}
      tags:
      - Library
  /assets/{asset_id}/lineages:
    post:
      description: Experimental Add a new external asset lineage.
      operationId: createAssetLineage
      parameters:
      - example: 5d7f910551b00a722e0418830cee6631
        in: path
        name: asset_id
        required: true
        schema:
          description: Unique identifier of the asset
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetLineageCreateRequest'
        description: Payload to add an external asset lineage for a library asset
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetLineageResponse'
          description: Created external asset lineage
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: POST /assets/{asset_id}/lineages
      tags:
      - Library
  /assets/{asset_id}/lineages/{lineage_id}:
    delete:
      description: Experimental Delete an asset lineage.
      operationId: deleteAssetLineage
      parameters:
      - example: 5d7f910551b00a722e0418830cee6631
        in: path
        name: asset_id
        required: true
        schema:
          description: Unique identifier of the asset
          type: string
      - example: ff3f8e024f0611ed993202420ac8001b
        in: path
        name: lineage_id
        required: true
        schema:
          description: Unique identifier of the lineage
          type: string
      responses:
        '204':
          description: Deleted the asset lineage
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: DELETE /assets/{asset_id}/lineages/{lineage_id}
      tags:
      - Library
  /assets/{asset_id}/permissions:
    get:
      description: Experimental List of entities that have permission to access the asset
      operationId: listAssetPermissions
      parameters:
      - example: 5d7f910551b00a722e0418830cee6631
        in: path
        name: asset_id
        required: true
        schema:
          description: Unique identifier of the asset
          type: string
      - example: view
        in: query
        name: access
        schema:
          description: To filter by specific access level. Cannot be used in addition to max_access and min_access params.
          enum:
          - view
          - edit
          - comment
          - delete
          type: string
      - example: view
        in: query
        name: max_access
        schema:
          description: To filter by specific access level and higher. Cannot be used in addition to access and min_access params.
          enum:
          - view
          - edit
          - comment
          - delete
          type: string
      - example: view
        in: query
        name: min_access
        schema:
          description: To filter by specific access level and lower. Cannot be used in addition to access and max_access params.
          enum:
          - view
          - edit
          - comment
          - delete
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetPermissionListResponseItem'
          description: List of permissions
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /assets/{asset_id}/permissions
      tags:
      - Library
    post:
      description: Experimental Grant asset access to users or teams
      operationId: addAssetPermissions
      parameters:
      - example: 5d7f910551b00a722e0418830cee6631
        in: path
        name: asset_id
        required: true
        schema:
          description: Unique identifier of the asset
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetPermissionBulkCreateRequest'
        description: Payload to add list of accessors to asset permissions
        required: true
      responses:
        '204':
          description: Permission access granted
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: POST /assets/{asset_id}/permissions
      tags:
      - Library
  /assets/{asset_id}/permissions/{accessor_id}:
    delete:
      description: Experimental Remove accessor's access from an asset
      operationId: removeAssetPermission
      parameters:
      - example: 5d7f910551b00a722e0418830cee6631
        in: path
        name: asset_id
        required: true
        schema:
          description: Unique identifier of the asset
          type: string
      - example: 5d7f910551b00a722e0418830cee6631
        in: path
        name: accessor_id
        required: true
        schema:
          description: Unique identifier of the accessor. Accessor should be a user or a team. Accessor cannot be an owner.
          type: string
      responses:
        '204':
          description: Accessor's access removed
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: DELETE /asstes/{asset_id}/permissions/{accessor_id}
      tags:
      - Library
    patch:
      description: Experimental Update accessor's access level and ownership of asset
      operationId: updateAssetPermission
      parameters:
      - example: 5d7f910551b00a722e0418830cee6631
        in: path
        name: asset_id
        required: true
        schema:
          description: Unique identifier of the asset
          type: string
      - example: 5d7f910551b00a722e0418830cee6631
        in: path
        name: accessor_id
        required: true
        schema:
          description: Unique identifier of the accessor. Accessor should be a user or a team.
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetPermissionUpdateRequest'
        description: Payload to update permission of accessors
        required: true
      responses:
        '204':
          description: Permission access granted
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: PATCH /assets/{asset_id}/permissions/{accessor_id}
      tags:
      - Library
  /assets/{asset_id}/related-assets:
    get:
      description: 'Returns a paginated list of related assets for the specified asset. Only supported for asset types: article, image, video, raw_file, and structured_content.'
      operationId: listRelatedAssets
      parameters:
      - example: 5d7f910551b00a722e0418830cee6631
        in: path
        name: asset_id
        required: true
        schema:
          description: Unique identifier of the asset
          type: string
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelatedAssetsListResponse'
          description: List of related assets
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /assets/{asset_id}/related-assets
      tags:
      - Library
    put:
      description: 'Replaces all related assets for the specified asset. Only supported for asset types: article, image, video, raw_file, and structured_content.'
      operationId: replaceRelatedAssets
      parameters:
      - example: 5d7f910551b00a722e0418830cee6631
        in: path
        name: asset_id
        required: true
        schema:
          description: Unique identifier of the asset
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceRelatedAssetsRequest'
        description: List of related assets to set for the specified asset
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplaceRelatedAssetsResponse'
          description: Successfully replaced related assets
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: PUT /assets/{asset_id}/related-assets
      tags:
      - Library
  /assets/{asset_id}/renditions:
    get:
      description: Experimental Get the renditions of an asset given its `id`.
      operationId: listAssetRenditions
      parameters:
      - example: 5d7f910551b00a722e0418830cee6631
        in: path
        name: asset_id
        required: true
        schema:
          description: Unique identifier of the asset
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: List of renditions
                    items:
                      $ref: '#/components/schemas/BaseAssetRenditionResponse'
                    type: array
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination'
                    - properties:
                        next:
                          example: https://api.cmp.optimizely.com/v3/assets/5d7f910551b00a722e0418830cee6631/renditions?offset=10&page_size=10
                          type:
                          - string
                          - 'null'
                      type: object
                required:
                - data
                - pagination
                type: object
          description: List of fetched renditions
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /assets/{asset_id}/renditions
      tags:
      - Library
  /assets/{asset_id}/versions:
    post:
      description: Add a new version to a library asset. Supports adding versions to only `images`, `videos`, and `raw files` type assets. See Upload assets to upload a version to a library asset.
      operationId: createAssetVersion
      parameters:
      - example: 5d7f910551b00a722e0418830cee6631
        in: path
        name: asset_id
        required: true
        schema:
          description: Unique identifier of the asset
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetVersionCreateRequest'
        description: Payload to add a version to a library asset
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryAssetVersionResponse'
          description: Created version
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: POST /assets/{asset_id}/versions
      tags:
      - Library
  /file-urls:
    post:
      description: Generates download URLs of files given file guid.
      operationId: createFileUrls
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileUrlBulkCreateRequest'
        description: Payload to generate download URLs for files.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchFileUrlResponse'
          description: Generated URLs
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: POST /file-urls
      tags:
      - Library
  /folders:
    get:
      description: Get the list of folders sorted by `modified_at` in descending order.
      operationId: listFolders
      parameters:
      - description: ID of the parent folder to filter by
        example: 1d9d8aeca10811ebbc640242ac12001b
        in: query
        name: parent_folder_id
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: List of folders
                    items:
                      $ref: '#/components/schemas/FolderResponse'
                    type: array
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination'
                    - properties:
                        next:
                          example: https://api.cmp.optimizely.com/v3/folders?offset=10&page_size=10
                          type:
                          - string
                          - 'null'
                      type: object
                required:
                - data
                - pagination
                type: object
          description: List of fetched folders
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      summary: GET /folders
      tags:
      - Library
    post:
      description: Create a folder. Use the `parent_folder_id` field to create a nested folder.
      operationId: createFolder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FolderCreateRequest'
        description: Payload to create a folder
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderResponse'
          description: Created folder
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: POST /folders
      tags:
      - Library
  /folders/{id}:
    delete:
      description: Experimental Delete a folder.
      operationId: deleteFolder
      parameters:
      - example: 5d7f910551b00a722e0418830cee6632
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the folder
          type: string
      responses:
        '204':
          description: Folder deleted successfully
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: DELETE /folders/{id}
      tags:
      - Library
    get:
      description: Get a folder
      operationId: getFolder
      parameters:
      - example: 5d7f910551b00a722e0418830cee6632
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the folder
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderResponse'
          description: Fetched folder
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /folders/{id}
      tags:
      - Library
    patch:
      description: Experimental Update a folder's name and/or parent.
      operationId: updateFolder
      parameters:
      - example: 5d7f910551b00a722e0418830cee6632
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the folder
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FolderUpdateRequest'
        description: Payload to update a folder
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderResponse'
          description: Updated Folder
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: PATCH /folders/{id}
      tags:
      - Library
  /folders/{id}/permissions:
    get:
      description: Experimental List of entities that have permission to access the folder
      operationId: listFolderPermissions
      parameters:
      - example: 5d7f910551b00a722e0418830cee6631
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the folder
          type: string
      - example: view
        in: query
        name: access
        schema:
          description: To filter by specific access level. Cannot be used in addition to max_access and min_access params.
          enum:
          - view
          - edit
          - comment
          - delete
          type: string
      - example: view
        in: query
        name: max_access
        schema:
          description: To filter by specific access level and higher. Cannot be used in addition to access and min_access params.
          enum:
          - view
          - edit
          - comment
          - delete
          type: string
      - example: view
        in: query
        name: min_access
        schema:
          description: To filter by specific access level and lower. Cannot be used in addition to access and max_access params.
          enum:
          - view
          - edit
          - comment
          - delete
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderPermissionListResponseItem'
          description: List of permissions
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /folders/{id}/permissions
      tags:
      - Library
    post:
      description: Experimental Grant folder access to users or teams
      operationId: addFolderPermissions
      parameters:
      - example: 5d7f910551b00a722e0418830cee6631
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the folder
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FolderPermissionBulkCreateRequest'
        description: Payload to add list of accessors to folder permissions
        required: true
      responses:
        '204':
          description: Permission access granted
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: POST /folders/{id}/permissions
      tags:
      - Library
  /folders/{id}/permissions/{accessor_id}:
    delete:
      description: Experimental Remove accessor's access from a folder
      operationId: removeFolderPermission
      parameters:
      - example: 5d7f910551b00a722e0418830cee6631
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the folder
          type: string
      - example: 5d7f910551b00a722e0418830cee6631
        in: path
        name: accessor_id
        required: true
        schema:
          description: Unique identifier of the accessor. Accessor should be a user or a team. Accessor cannot be an owner.
          type: string
      responses:
        '204':
          description: Accessor's access removed
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: DELETE /folders/{id}/permissions/{accessor_id}
      tags:
      - Library
    patch:
      description: Experimental Update accessor's access level and ownership of folder
      operationId: updateFolderPermission
      parameters:
      - example: 5d7f910551b00a722e0418830cee6631
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the folder
          type: string
      - example: 5d7f910551b00a722e0418830cee6631
        in: path
        name: accessor_id
        required: true
        schema:
          description: Unique identifier of the accessor. Accessor should be a user or a team.
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FolderPermissionUpdateRequest'
        description: Payload to update permission of accessors
        required: true
      responses:
        '204':
          description: Permission access granted
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: PATCH /folders/{id}/permissions/{accessor_id}
      tags:
      - Library
  /images/{id}:
    delete:
      description: Delete an image
      operationId: deleteImage
      parameters:
      - example: 5d7f910551b00a722e0418830cee6632
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the image
          type: string
      responses:
        '204':
          description: Deleted the image
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: DELETE /images/{id}
      tags:
      - Library
    get:
      description: Get an image
      operationId: getImage
      parameters:
      - example: 5d7f910551b00a722e0418830cee6632
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the image
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryImage'
          description: Fetched image
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /images/{id}
      tags:
      - Library
    patch:
      description: Updates an image
      operationId: updateImage
      parameters:
      - example: 5d7f910551b00a722e0418830cee6631
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the image
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LibraryImageUpdateRequest'
        description: Payload to update the image
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryImage'
          description: Updated Image
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: PATCH /images/{id}
      tags:
      - Library
  /raw-files/{id}:
    delete:
      description: Delete a raw file
      operationId: deleteRawFile
      parameters:
      - example: 5d7f910551b00a722e0418830cee6634
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the raw file
          type: string
      responses:
        '200':
          description: Deleted the raw file
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: DELETE /raw-files/{id}
      tags:
      - Library
    get:
      description: Get a raw file
      operationId: getRawFile
      parameters:
      - example: 5d7f910551b00a722e0418830cee6634
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the raw file
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryRawFile'
          description: Fetched raw file
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /raw-files/{id}
      tags:
      - Library
    patch:
      description: Updates a raw file
      operationId: updateRawFile
      parameters:
      - example: 5d7f910551b00a722e0418830cee6631
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the raw file
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LibraryRawFileUpdateRequest'
        description: Payload to update the raw file
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryRawFile'
          description: Raw file updated
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: PATCH /raw-files/{id}
      tags:
      - Library
  /rendition-configs/{id}:
    get:
      description: Experimental Get a rendition configuration of an organization given its `id`.
      operationId: getRenditionConfig
      parameters:
      - example: 5d7f910551b00a722e0418830cee6631
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the rendition configuration
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenditionConfigResponse'
          description: Data of a rendition configuration
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /rendition-configs/{id}
      tags:
      - Library
  /renditions/{id}:
    get:
      description: Experimental Get a rendition given its `id`.
      operationId: getRendition
      parameters:
      - example: c2603a6e0b4811eebea95edf08e23f48
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the rendition
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetailedAssetRenditionResponse'
          description: Details of the rendition
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /renditions/{id}
      tags:
      - Library
  /structured-contents:
    post:
      description: Experimental Creates a structured content.
      operationId: createStructuredContent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LibraryStructuredContentCreateRequest'
        description: Payload to create the structured content
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryStructuredContent'
          description: Structured content created
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: POST /structured-contents
      tags:
      - Library
  /structured-contents/{id}:
    get:
      description: Experimental Get the structured content.
      operationId: getStructuredContent
      parameters:
      - example: a24b834427a043ab8caed1ded4606f7d
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the structured content
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryStructuredContent'
          description: Fetched structured content
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /structured-contents/{id}
      tags:
      - Library
    patch:
      description: Experimental Updates a structured content.
      operationId: updateStructuredContent
      parameters:
      - example: 5d7f910551b00a722e0418830cee6631
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the structured content
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LibraryStructuredContentUpdateRequest'
        description: Payload to update the structured content
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryStructuredContent'
          description: Structured content updated
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: PATCH /structured-contents/{id}
      tags:
      - Library
  /videos/{id}:
    delete:
      description: Delete a video
      operationId: deleteVideo
      parameters:
      - example: 5d7f910551b00a722e0418830cee6633
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the video
          type: string
      responses:
        '204':
          description: Deleted the video
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: DELETE /videos/{id}
      tags:
      - Library
    get:
      description: Get a video
      operationId: getVideo
      parameters:
      - example: 5d7f910551b00a722e0418830cee6633
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the video
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryVideo'
          description: Fetched video
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: GET /videos/{id}
      tags:
      - Library
    patch:
      description: Updates a video
      operationId: updateVideo
      parameters:
      - example: 5d7f910551b00a722e0418830cee6631
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the Video
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LibraryVideoUpdateRequest'
        description: Payload to update the video
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryVideo'
          description: Video Updated
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      summary: PATCH /videos/{id}
      tags:
      - Library
components:
  schemas:
    NumberFieldDefinition:
      properties:
        core:
          $ref: '#/components/schemas/CoreFieldDef'
        default_values:
          description: Default values of the field
          items:
            type: number
          type: array
        max_value:
          description: Maximum value of the field
          type: number
        min_value:
          description: Minimum value of the field
          type: number
      required:
      - core
      type: object
    TextFieldValueModel:
      properties:
        order_index:
          description: Order index of the field value
          type: integer
        text_value:
          description: Value of the field value
          type: string
      required:
      - text_value
      type: object
    RelatedAssetItem:
      additionalProperties: false
      properties:
        content:
          additionalProperties: false
          properties:
            type:
              description: "Type of the content.\n - article  – `html_body`\n - image, raw_file, video  – `url`\n - structured_content  – `api_url`"
              enum:
              - url
              - api_url
              - html_body
              example: url
              type: string
            value:
              description: Content of the asset. - article – the html body - image, raw_file, video – the download URL - structured_content – api url
              type: string
          required:
          - type
          - value
          type: object
        file_extension:
          description: File extension of the asset
          example: png
          type:
          - string
          - 'null'
        id:
          description: Unique identifier for the asset
          example: 5d7f910551b00a722e0418830cee6631
          type: string
        links:
          additionalProperties: false
          description: Meta links
          properties:
            self:
              description: URL of the asset (only GET is supported)
              example: https://api.cmp.optimizely.com/v3/images/5d7f910551b00a722e0418830cee6631
              type: string
          required:
          - self
          type: object
        mime_type:
          description: MIME type of the asset
          example: image/png
          type:
          - string
          - 'null'
        title:
          description: Title of the asset
          example: sample_image.png
          type: string
        type:
          description: Type of the asset
          enum:
          - article
          - image
          - video
          - raw_file
          - structured_content
          example: image
          type: string
      required:
      - id
      - title
      - type
      - mime_type
      - file_extension
      - content
      - links
      type: object
    FolderCreateRequest:
      additionalProperties: false
      properties:
        name:
          description: Name of the folder
          example: Optimizely Digital Asset Management
          minLength: 1
          type: string
        parent_folder_id:
          description: ID of the parent folder
          example: 5e6f910551b00a722e0418830cee6630
          type:
          - string
          - 'null'
      required:
      - name
      type: object
    Error:
      additionalProperties: true
      description: Error payload
      properties:
        errors:
          additionalProperties: true
          description: Additional information
          properties: {}
          type: object
        message:
          description: Message describing the error
          example: Not found
          type: string
      required:
      - message
      type: object
    ContentFieldWithEmbeddedPatchValueModel:
      properties:
        content_id:
          type: string
        patch_details:
          $ref: '#/components/schemas/RecursivePatchStructuredContentFields'
      required:
      - content_id
      - patch_details
      type: object
    FieldType:
      description: An enumeration.
      enum:
      - boolean
      - number
      - text-field
      - rich-text
      - datetime
      - library-asset
      - content-type
      - json
      - url
      - choice
      - location
      type: string
    AssetFieldTypePercentageNumber:
      allOf:
      - $ref: '#/components/schemas/BaseAssetField'
      - properties:
          decimal_places:
            description: Decimal place of the numerical field
            example: 2
            type:
            - integer
            - 'null'
        required:
        - decimal_places
        type: object
    DateTypeObjectFieldUpdatePayload:
      allOf:
      - $ref: '#/components/schemas/BaseObjectFieldUpdatePayload'
      - properties:
          values:
            description: Array of date-time values, in ISO 8601 UTC format (2020-02-10T10:40:45Z)
            items:
              description: Date and time, in ISO 8601 UTC format (2020-02-10T10:40:45Z)
              example: '2020-02-10T10:40:45Z'
              format: date-time
              type: string
            maxItems: 1
            type: array
        type: object
    Pagination:
      additionalProperties: false
      description: Pagination related information
      properties:
        next:
          description: URL to the next page
          example: https://api.cmp.optimizely.com/<some-path-to-next-page>?offset=10&page_size=10
          type:
          - string
          - 'null'
        previous:
          description: URL to the previous page
          example: null
          type:
          - string
          - 'null'
      required:
      - next
      - previous
      type: object
    RichTextFieldDefinition:
      properties:
        core:
          $ref: '#/components/schemas/CoreFieldDef'
        default_values:
          description: Default values of the field
          items:
            type: string
          type: array
        max_visual_text_length:
          description: Maximum length of the field
          type: integer
        min_visual_text_length:
          description: Minimum length of the field
          type: integer
      required:
      - core
      - min_visual_text_length
      type: object
    LibraryRawFileUpdateRequest:
      additionalProperties: false
      properties:
        allow_se_indexing:
          description: Whether the raw file is allowed to be indexed by search engines
          example: true
          type: boolean
        attribution_text:
          description: Attribution text of the raw file. Set an empty string to clear the attribution text.
          example: Sample attribution text
          minLength: 0
          type: string
        description:
          description: Description of the raw file. Set an empty string to clear the description.
          example: A zip file that contains some documents
          minLength: 0
          type: string
        expires_at:
          description: Date and time when the raw file expires, in ISO 8601 UTC format
          example: '2019-10-07T13:15:30Z'
          format: date-time
          type:
          - string
          - 'null'
        folder_id:
          description: ID of the folder containing the raw file in the library
          example: 6bb8db20a5b611ebae319b7c541b1a5a
          type:
          - string
          - 'null'
        is_archived:
          description: Whether the raw file should be archived
          example: true
          type: boolean
        is_public:
          description: Whether the raw file URL should be public
          example: true
          type: boolean
        labels:
          deprecated: true
          description: Please use [PUT /assets/{asset_id}/fields](https://docs.developers.optimizely.com/content-marketing-platform/reference/put_assets-asset-id-fields) or  [PUT /assets/{asset_id}/fields/{field_id}](https://docs.developers.optimizely.com/content-marketing-platform/reference/put_assets-asset-id-fields-field-id)  API to update label type asset fields
          items:
            $ref: '#/components/schemas/ResourceLabelRequest'
          type: array
        tags:
          description: Tags of the raw file. Provided tags will replace the existing ones. Set an empty array to clear the existing tags.
          example:
          - dhaka
          - new york
          - london
          items:
            maxLength: 100
            minLength: 1
            type: string
          maxItems: 100
          minItems: 0
          type: array
          uniqueItems: true
        title:
          description: Title of the raw file
          example: documents.zip
          minLength: 1
          type: string
      type: object
    TextFieldDefinition:
      properties:
        core:
          $ref: '#/components/schemas/CoreFieldDef'
        default_values:
          description: Default values of the field
          items:
            type: string
          type: array
        max_length:
          description: Maximum length of the field
          type: integer
        min_length:
          description: Minimum length of the field
          type: integer
        validation_pattern:
          description: Validation pattern of the field
          type: string
      required:
      - core
      - validation_pattern
      - min_length
      type: object
    StringTypeObjectField:
      allOf:
      - $ref: '#/components/schemas/BaseObjectField'
      - $ref: '#/components/schemas/StringTypeObjectFieldUpdatePayload'
    FolderPermissionBulkCreateRequest:
      additionalProperties: false
      properties:
        permissions:
          description: List of permissions to be granted to folder
          items:
            additionalProperties: false
            properties:
              access_type:
                description: level of access the accessor has to the folder
                enum:
                - view
                - edit
                example: view
                type: string
              id:
                description: Unique identifier of accessor
                example: 5d7f910551b00a722e0418830cee6632
                type: string
              is_owner:
                default: false
                description: Indicates if the accessor is the owner of the folder. A team cannot be an owner.
                example: false
                type: boolean
            required:
            - id
            - access_type
            type: object
          minItems: 1
          type: array
        type:
          description: Type of the accessor
          enum:
          - user
          - team
          example: user
          type: string
      required:
      - type
      - permissions
      type: object
    BaseObjectFieldUpdatePayload:
      properties:
        type:
          description: Type of the field
          example: checkbox
          type: string
        values:
          description: Values for the campaign field
          type: array
      required:
      - type
      - values
      type: object
    MultiChoiceTypeObjectFieldUpdatePayload:
      allOf:
      - $ref: '#/components/schemas/BaseObjectFieldUpdatePayload'
      - properties:
          values:
            description: Array of choice IDs
            items:
              example: 9119a313057e401189407116fcd3
              type: string
            type: array
        type: object
    LibraryStructuredContent:
      additionalProperties: false
      properties:
        content_body:
          $ref: '#/components/schemas/ContentDetailsModel'
        created_at:
          description: Date and time on which the structured content was created, in ISO 8601 UTC format (2020-02-10T10:40:45Z)
          example: '2019-10-06T13:15:30Z'
          format: date-time
          type: string
        file_location:
          description: Location of the folder containing the structured content in the library
          example: /all files/
          type: string
        folder_id:
          description: ID of the folder containing the structured content in the library
          example: 6bb8db20a5b611ebae319b7c541b1a5a
          type:
          - string
          - 'null'
        id:
          description: Unique identifier of the structured content
          example: a24b834427a043ab8caed1ded4606f7d
          type: string
        is_archived:
          description: Whether the structured content is archived or not
          example: true
          type: boolean
        labels:
          description: Labels associated with the structured content
          items:
            $ref: '#/components/schemas/ResourceLabelResponse'
          type: array
        links:
          description: Meta links
          properties:
            self:
              description: URL of the structured content
              example: https://api.cmp.optimizely.com/v3/structured-contents/a24b834427a043ab8caed1ded4606f7d
              type: string
          required:
          - self
          type: object
        modified_at:
          description: Date and time of the most recent modification of the structured content, in ISO 8601 UTC format (2020-02-10T10:40:45Z)
          example: '2019-10-07T13:15:30Z'
          format: date-time
          type: string
        owner_organization_id:
          description: ID of owner organization of the structured content
          example: 5108c3a9becac35915111191
          type: string
        title:
          description: Title of the structured content
          example: Some webpage
          type: string
      required:
      - id
      - title
      - created_at
      - modified_at
      - folder_id
      - file_location
      - is_archived
      - labels
      - owner_organization_id
      - links
      type: object
    BaseFieldDefinitionType:
      description: An enumeration.
      enum:
      - boolean
      - json
      - url
      - location
      type: string
    RichTextFieldValueModel:
      properties:
        order_index:
          description: Order index of the field value
          type: integer
        rich_text_value:
          description: Value of the field value
          type: string
      required:
      - rich_text_value
      type: object
    MultiChoiceTypeObjectField:
      allOf:
      - $ref: '#/components/schemas/BaseObjectField'
      - $ref: '#/components/schemas/MultiChoiceTypeObjectFieldUpdatePayload'
    ResourceLabelResponse:
      additionalProperties: false
      description: Label associated to a fetched resource
      properties:
        group:
          additionalProperties: false
          description: Label group
          properties:
            id:
              description: Identifier of the label group
              example: 2467e583a60e23fda2b89db81a453cd2
              type: string
            name:
              description: Name of the label group
              example: Content Format
              type: string
          required:
          - id
          - name
          type: object
        values:
          description: List of values of the label
          items:
            additionalProperties: false
            properties:
              id:
                description: Identifier of the label value
                example: 71c378f3fee3d822759d1bdc2aab628c
                type: string
              name:
                description: Name of the label value
                example: Photos
                type: string
            required:
            - id
            - name
            type: object
          type: array
      required:
      - group
      - values
      type: object
    ContentFieldValueModel:
      properties:
        content_guid:
          description: Content GUID of the field value
          type: string
        content_url:
          description: Content URL of the field value
          type: string
        embedded:
          description: Indicates whether the field value is embedded
          type: boolean
        order_index:
          description: Order index of the field value
          type: integer
      required:
      - content_guid
      - embedded
      type: object
    RadioButtonTypeObjectFieldUpdatePayload:
      allOf:
      - $ref: '#/components/schemas/BaseObjectFieldUpdatePayload'
      - properties:
          values:
            description: Accepts a single choice Id.
            items:
              example: 9119a313057e401189407116fcd3
              type: string
            maxItems: 1
            type: array
        type: object
    VersionedContentTypeModel:
      properties:
        component:
          description: Indicates whether the content type is a component
          type: boolean
        content_type_guid:
          description: Unique identifier of the content type
          type: string
        created_at:
          description: Date and time on which the content type was created, in ISO 8601 UTC format
          format: date-time
          type: string
        created_by:
          description: Unique identifier of the user who created the content type
          type: string
        description:
          description: Description of the content type
          type: string
        disabled:
          description: Disabled status of the content type
          type: boolean
        links:
          description: Meta links
          properties:
            self:
              description: URL of the content type
              example: https://api.cmp.optimizely.com/v3/structured-content/content-types/9fda53cf66a14fd487251480ca695c7b
              type: string
            versions:
              description: URL of the content type versions
              example: https://api.cmp.optimizely.com/v3/structured-content/content-types/9fda53cf66a14fd487251480ca695c7b/versions
              type: string
          type: object
        name:
          description: Name of the content type
          type: string
        source:
          description: Source of the content type
          type: string
        source_id:
          description: Source of the content type
          type: string
        source_metadata:
          description: Source metadata of the content type
          type: string
        thumbnail_guid:
          description: Thumbnail GUID of the content type
          type: string
        updated_at:
          description: Date and time on which the content type was last updated, in ISO 8601 UTC format
          format: date-time
          type: string
        updated_by:
          description: Unique identifier of the user who last updated the content type
          type: string
        version:
          $ref: '#/components/schemas/SCContentTypeVersion'
      required:
      - name
      - component
      - content_type_guid
      - created_by
      - updated_by
      - created_at
      - updated_at
      - links
      - version
      type: object
    ChoiceFieldValueModel:
      properties:
        choice_key:
          description: Choice key of the field value
          type: string
        order_index:
          description: Order index of the field value
          type: integer
      required:
      - choice_key
      type: object
    RelatedAssetsListResponse:
      additionalProperties: false
      properties:
        data:
          description: List of related assets
          items:
            $ref: '#/components/schemas/RelatedAssetItem'
          type: array
        pagination:
          allOf:
          - $ref: '#/components/schemas/Pagination'
          - properties:
              next:
                example: https://api.cmp.optimizely.com/v3/assets/5d7f910551b00a722e0418830cee6631/related-assets?offset=10&page_size=10
                type:
                - string
                - 'null'
            type: object
      required:
      - data
      - pagination
      type: object
    error_reason:
      description: An enumeration.
      enum:
      - REQUIRED_FIELD_ABSENT
      - LIST_EMPTY
      - INVALID_STATE
      - INVALID_SELF_REF
      - MIN_NOT_MET
      - MAX_NOT_MET
      - PATTERN_ERROR
      title: error_reason
      type: string
    ReplaceRelatedAssetsRequest:
      additionalProperties: false
      properties:
        related_assets:
          items:
            additionalProperties: false
            properties:
              id:
                description: Unique identifier for the asset
                example: 5d7f910551b00a722e0418830cee6631
                type: string
            required:
            - id
            type: object
          type: array
      required:
      - related_assets
      type: object
    LibraryStructuredContentUpdateRequest:
      additionalProperties: false
      properties:
        content_body:
          description: The structured content body
          properties:
            expired:
              description: Expired status of the content
              title: Expired
              type:
              - boolean
              - 'null'
            expiry_datetime:
              description: Date and time on which the content will expire, in ISO 8601 UTC format
              format: date-time
              title: Expirydatetime
              type:
              - string
              - 'null'
            fields:
              $ref: '#/components/schemas/StructuredContentFields'
              title: Contentbody
              type:
              - object
              - 'null'
            source:
              description: Source of the content
              title: Source
              type:
              - string
              - 'null'
            source_id:
              description: Source id of the content
              title: Sourceid
              type:
              - string
              - 'null'
            source_metadata:
              description: Source metadata of the content
              title: Sourcemetadata
              type:
              - string
              - 'null'
            title:
              description: Title of the structured content
              example: Some webpage
              type:
              - string
              - 'null'
          type: object
        is_archived:
          description: Whether the structured content should be archived
          example: true
          type: boolean
        title:
          description: Title of the structured content asset
          type:
          - string
          - 'null'
      type: object
    AssetFieldTypeSimpleNumber:
      allOf:
      - $ref: '#/components/schemas/BaseAssetField'
      - properties:
          decimal_places:
            description: Decimal place of the numerical field
            example: 2
            type:
            - integer
            - 'null'
          has_thousand_separator:
            description: Whether the numerical field has a thousand separator
            example: true
            type: boolean
        required:
        - has_thousand_separator
        - decimal_places
        type: object
    LocationDefaultValue:
      properties:
        latitude:
          description: Latitude of the location
          type: number
        longitude:
          description: Longitude of the location
          type: number
      required:
      - longitude
      - latitude
      type: object
    ChoiceFieldDefinition:
      properties:
        choices:
          additionalProperties:
            type: string
          description: Choices of the field
          type: object
        core:
          $ref: '#/components/schemas/CoreFieldDef'
        default_values:
          description: Default values of the field
          items:
            type: string
          type: array
        display_option:
          $ref: '#/components/schemas/ChoiceDisplayOption'
      required:
      - core
      - choices
      type: object
    LocalizedFieldValuesWithEmbeddedContent:
      properties:
        field_values:
          items:
            anyOf:
            - $ref: '#/components/schemas/NumberFieldValueModel'
            - $ref: '#/components/schemas/BooleanFieldValueModel'
            - $ref: '#/components/schemas/DatetimeFieldValueModel'
            - $ref: '#/components/schemas/TextFieldValueModel'
            - $ref: '#/components/schemas/RichTextFieldValueModel'
            - $ref: '#/components/schemas/LibraryAssetFieldValueModel'
            - $ref: '#/components/schemas/ContentFieldValueWithEmbeddedModel'
            - $ref: '#/components/schemas/ContentFieldValueModel'
            - $ref: '#/components/schemas/URLFieldValueModel'
            - $ref: '#/components/schemas/JSONFieldValueModel'
            - $ref: '#/components/schemas/ChoiceFieldValueModel'
            - $ref: '#/components/schemas/LocationFieldValueModel'
          type: array
        locale:
          type: string
      required:
      - locale
      - field_values
      type: object
    AssetPermissionBulkCreateRequest:
      additionalProperties: false
      properties:
        permissions:
          description: List of permissions to be granted to asset
          items:
            additionalProperties: false
            properties:
              access_type:
                description: level of access the accessor has to the asset
                enum:
                - view
                - edit
                example: view
                type: string
              id:
                description: Unique identifier of accessor
                example: 5d7f910551b00a722e0418830cee6632
                type: string
              is_owner:
                default: false
                description: Indicates if the accessor is the owner of the asset. A team cannot be an owner.
                example: false
                type: boolean
            required:
            - id
            - access_type
            type: object
          minItems: 1
          type: array
        type:
          description: Type of the accessor
          enum:
          - user
          - team
          example: user
          type: string
      required:
      - type
      - permissions
      type: object
    LibraryAssetFieldDefinition:
      properties:
        allowed_types:
          items:
            $ref: '#/components/schemas/LibraryAssetType'
          type: array
        core:
          $ref: '#/components/schemas/CoreFieldDef'
        default_values:
          description: Default values for the field
          items:
            $ref: '#/components/schemas/LibraryAssetDefaultValue'
          type: array
      required:
      - core
      - allowed_types
      type: object
    AssetFieldTypeCheckbox:
      allOf:
      - $ref: '#/components/schemas/BaseAssetField'
      - properties:
          choices:
            description: Choices of the checkbox
            items:
              properties:
                id:
                  description: Identifier of the choice
                  example: 6ceee2f4fa3411ecb37802420ac8001b
                  type: string
                name:
                  description: Name of the choice
                  example: Checkbox 1 Choice 1
                  type: string
              required:
              - id
              - name
              type: object
            type: array
        required:
        - choices
        type: object
    JSONFieldValueModel:
      properties:
        json_value:
          anyOf:
          - type: object
          - items: {}
            type: array
          description: Value of the field value
        order_index:
          description: Order index of the field value
          type: integer
      required:
      - json_value
      type: object
    AssetFieldListResponseItem:
      discriminator:
        mapping:
          checkbox: '#/components/schemas/AssetFieldTypeCheckbox'
          currency_number: '#/components/schemas/AssetFieldTypeCurrencyNumber'
          date: '#/components/schemas/AssetFieldTypeCommon'
          dropdown: '#/components/schemas/AssetFieldTypeDropdown'
          image: '#/components/schemas/AssetFieldTypeCommon'
          label: '#/components/schemas/AssetFieldTypeLabel'
          percentage_number: '#/components/schemas/AssetFieldTypePercentageNumber'
          radio_button: '#/components/schemas/AssetFieldTypeRadio'
          rich_text: '#/components/schemas/AssetFieldTypeCommon'
          simple_number: '#/components/schemas/AssetFieldTypeSimpleNumber'
          text: '#/components/schemas/AssetFieldTypeCommon'
          text_area: '#/components/schemas/AssetFieldTypeCommon'
          video: '#/components/schemas/AssetFieldTypeCommon'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/AssetFieldTypeCommon'
      - $ref: '#/components/schemas/AssetFieldTypeLabel'
      - $ref: '#/components/schemas/AssetFieldTypeDropdown'
      - $ref: '#/components/schemas/AssetFieldTypeRadio'
      - $ref: '#/components/schemas/AssetFieldTypeCheckbox'
      - $ref: '#/components/schemas/AssetFieldTypeSimpleNumber'
      - $ref: '#/components/schemas/AssetFieldTypePercentageNumber'
      - $ref: '#/components/schemas/AssetFieldTypeCurrencyNumber'
    ContentDetailsModel:
      properties:
        content_guid:
          description: Unique identifier of the content
          type: string
        content_type:
          $ref: '#/components/schemas/VersionedContentTypeModel'
        content_type_guid:
          description: Unique identifier of the content type
          type: string
        content_type_name:
          description: Name of the content type
          type: string
        created_at:
          description: Date and time on which the content was created, in ISO 8601 UTC format
          format: date-time
          type: string
        created_by:
          description: Unique identifier of the user who created the content
          type: string
        expired:
          description: Expired status of the content
          type: boolean
        expiry_datetime:
          description: Date and time on which the content will expire, in ISO 8601 UTC format
          format: date-time
          type: string
        latest_fields_version:
          $ref: '#/components/schemas/ContentFieldsVersionDetails'
        links:
          description: Meta links
          properties:
            definition:
              description: URL of the content definition
              example: https://api.cmp.optimizely.com/v3/structured-content/content-types/5291e00b990a49f1857adc024fd26620/versions/a8b48d529701452aa56a4e752e1b0ffc
              type: string
            self:
              description: URL of the content
              example: https://api.cmp.optimizely.com/v3/structured-content/contents/a24b834428a043ab8caed1ded4606f7d
              type: string
          type: object
        primary_locale:
          description: The primary locale of the content
          example: en_US
          type: string
        root_content:
          description: This is true when the content is not embedded in another content through a content type reference field
          type: boolean
        source:
          description: Source of the content
          type: string
        source_id:
          description: Source ID of the content
          type: string
        source_metadata:
          description: Source metadata of the content
          type: string
        template_guid:
          description: Template GUID of the content
          type: string
        title:
          description: Title of the content
          type: string
        updated_at:
          description: Date and time on which the content was last updated, in ISO 8601 UTC format
          format: date-time
          type: string
        updated_by:
          description: Unique identifier of the user who last updated the content
          type: string
      required:
      - root_content
      - title
      - latest_fields_version
      - content_guid
      - created_by
      - updated_by
      - created_at
      - updated_at
      - content_type_guid
      - content_type_name
      - links
      type: object
    NumberFieldValueModel:
      properties:
        num_value:
          description: Value of the field value
          type: number
        order_index:
          description: Order index of the field value
          type: integer
      required:
      - num_value
      type: object
    AssetFieldTypeLabel:
      allOf:
      - $ref: '#/components/schemas/BaseAssetField'
      - properties:
          choices:
            description: Choices of the label
            items:
              properties:
                id:
                  description: Identifier of the choice
                  example: 6ceee2f4fa3411ecb37802420ac8001b
                  type: string
                name:
                  description: Name of the choice
                  example: Label 1 Choice 1
                  type: string
              required:
              - id
              - name
              type: object
            type: array
          is_multi_select:
            description: Select multiple values from the label
            type: boolean
        required:
        - is_multi_select
        - choices
        type: object
    DetailedAssetRenditionResponse:
      allOf:
      - $ref: '#/components/schemas/BaseAssetRenditionResponse'
      - properties:
          alt_text:
            description: Alternative text for rendition
            example: image title
            type:
            - string
            - 'null'
          asset_type:
            description: Type of the original asset the rendition was generated from
            example: image
            type: string
          height:
            description: The height (in pixels) of the rendition
            example: 400
            type:
            - integer
            - 'null'
          modified_at:
            description: Date and time on which the rendition was last modified, in ISO 8601 UTC format
            example: '2022-09-27T09:14:30Z'
            format: date-time
            type: string
          original_asset_id:
            description: ID of the original asset the rendition was generated from
            example: 5d7f910551b00a722e0418830cee6631
            type: string
          rendition_config_id:
            description: ID of rendition config used to generate the rendition
            example: f910551b00ae0418830cee6631452651
            type: string
          status:
            description: Status of the rendition's generation
            enum:
            - Done
            - InProgress
            - Error
            example: Done
            type: string
          width:
            description: The width (in pixels) of the rendition
            example: 600
            type:
            - integer
            - 'null'
        required:
        - modified_at
        - original_asset_id
        - width
        - height
        - alt_text
        - asset_type
        - status
        type: object
    ReplaceRelatedAssetsResponse:
      additionalProperties: false
      properties:
        id:
          description: Unique identifier for the asset
          example: 5d7f910551b00a722e0418830cee6631
          type: string
        related_assets:
          items:
            additionalProperties: false
            properties:
              id:
                description: Unique identifier for the asset
                example: 5d7f910551b00a722e0418830cee6631
                type: string
            required:
            - id
            type: object
          type: array
      required:
      - id
      - related_assets
      type: object
    AssetFieldTypeRadio:
      allOf:
      - $ref: '#/components/schemas/BaseAssetField'
      - properties:
          choices:
            description: Choices of the radio button
            items:
              properties:
                id:
                  description: Identifier of the choice
                  example: 6ceee2f4fa3411ecb37802420ac8001b
                  type: string
                name:
                  description: Name of the choice
                  example: Radio 1 Choice 1
                  type: string
              required:
              - id
              - name
              type: object
            type: array
        required:
        - choices
        type: object
    BasePermissionsResponseSchema:
      additionalProperties: false
      properties:
        access_type:
          description: level of access the accessor has to the resource
          enum:
          - view
          - edit
          - comment
          - delete
          example: view
          type: string
        id:
          description: Unique identifier of the accessor
          example: 5d7f910551b00a722e0418830cee6631
          type: string
        is_owner:
          description: Indicates if the accessor is the owner of the object
          example: false
          type: boolean
        links:
          additionalProperties: false
          properties:
            accessor:
              description: links for user and team type objects
              example: https://api.cmp.optimizely.com/v3/users/5f857f30e1c4a2038d6179e9
              type:
              - string
              - 'null'
          required:
          - accessor
          type: object
        name:
          description: Name of the accessor
          example: John Doe
          type: string
        type:
          description: Type of the accessor
          enum:
          - user
          - team
          - organization
          example: user
          type: string
      required:
      - id
      - name
      - type
      - access_type
      - is_owner
      - links
      type: object
    FolderUpdateRequest:
      additionalProperties: false
      anyOf:
      - required:
        - name
      - required:
        - parent_folder_id
      properties:
        name:
          description: Name of the folder
          example: Optimizely Digital Asset Management
          minLength: 1
          type: string
        parent_folder_id:
          description: ID of the parent folder. If you pass null, the folder will be moved to the root.
          example: 5e6f910551b00a722e0418830cee6630
          type:
          - string
          - 'null'
      type: object
    AssetFieldUpdateRequest:
      additionalProperties: false
      discriminator:
        mapping:
          checkbox: '#/components/schemas/MultiChoiceTypeObjectFieldUpdatePayload'
          currency_number: '#/components/schemas/NumberTypeObjectFieldUpdatePayload'
          date: '#/components/schemas/DateTypeObjectFieldUpdatePayload'
          dropdown: '#/components/schemas/DropdownTypeObjectFieldUpdatePayload'
          image: '#/components/schemas/AssetTypeObjectFieldUpdatePayload'
          label: '#/components/schemas/MultiChoiceTypeObjectFieldUpdatePayload'
          percentage_number: '#/components/schemas/NumberTypeObjectFieldUpdatePayload'
          radio_button: '#/components/schemas/RadioButtonTypeObjectFieldUpdatePayload'
          rich_text: '#/components/schemas/StringTypeObjectFieldUpdatePayload'
          simple_number: '#/components/schemas/NumberTypeObjectFieldUpdatePayload'
          text: '#/components/schemas/StringTypeObjectFieldUpdatePayload'
          text_area: '#/components/schemas/StringTypeObjectFieldUpdatePayload'
          video: '#/components/schemas/AssetTypeObjectFieldUpdatePayload'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/StringTypeObjectFieldUpdatePayload'
      - $ref: '#/components/schemas/MultiChoiceTypeObjectFieldUpdatePayload'
      - $ref: '#/components/schemas/DropdownTypeObjectFieldUpdatePayload'
      - $ref: '#/components/schemas/RadioButtonTypeObjectFieldUpdatePayload'
      - $ref: '#/components/schemas/NumberTypeObjectFieldUpdatePayload'
      - $ref: '#/components/schemas/DateTypeObjectFieldUpdatePayload'
      - $ref: '#/components/schemas/AssetTypeObjectFieldUpdatePayload'
      type: object
    ResourceLabelRequest:
      additionalProperties: false
      description: Payload to associate labels to a resource
      properties:
        group:
          description: Label group
          example: 2467e583a60e23fda2b89db81a453cd2
          maxLength: 32
          minLength: 32
          type: string
        values:
          description: List of values of the label
          items:
            example: 71c378f3fee3d822759d1bdc2aab628c
            maxLength: 32
            minLength: 32
            type: string
          type: array
      required:
      - group
      - values
      type: object
    AssetFieldTypeDropdown:
      allOf:
      - $ref: '#/components/schemas/BaseAssetField'
      - properties:
          choices:
            description: Choices of the dropdown
            items:
              properties:
                id:
                  description: Identifier of the choice
                  example: 6ceee2f4fa3411ecb37802420ac8001b
                  type: string
                name:
                  description: Name of the choice
                  example: Dropdown 1 Choice 1
                  type: string
              required:
              - id
              - name
              type: object
            type: array
          is_multi_select:
            description: Allow users to select multiple values from the dropdown
            type: boolean
        required:
        - is_multi_select
        - choices
        type: object
    LibraryAssetDefaultValue:
      properties:
        asset_guid:
          description: Unique identifier of the asset
          type: string
        asset_type:
          $ref: '#/components/schemas/LibraryAssetType'
      required:
      - asset_type
      - asset_guid
      type: object
    LibraryAssetVersionResponse:
      additionalProperties: false
      properties:
        asset_id:
          description: Unique identifier of the asset
          example: 5d7f910551b00a722e0418830cee6631
          type: string
        content:
          additionalProperties: false
          description: Content of the version
          properties:
            type:
              description: Type of the content
              enum:
              - url
              example: url
              type: string
            value:
              description: Content of the version. It is the download URL for image, raw file, and video.
              example: http://images.cmp.optimizely.com/Zz0xODQ3NDU3Y2Y2YmYzOTlmNjkyOTgyZDY3Y2I3YWM2OA==S
              type: string
          required:
          - type
          - value
          type: object
        created_at:
          description: Date and time on which the version was created,  in ISO 8601 UTC format (2020-02-10T10:40:45Z)
          example: '2019-10-06T13:15:30Z'
          format: date-time
          type: string
        links:
          additionalProperties: false
          description: Meta links
          properties:
            asset:
              description: URL of the asset that the version is associated with
              example: https://api.cmp.optimizely.com/v3/images/5d7f910551b00a722e0418830cee6631
              type: string
          required:
          - asset
          type: object
        mime_type:
          description: MIME type of the version
          example: image/png
          type: string
        title:
          description: Title of the asset
          example: sample_image.png
          type: string
        type:
          description: Type of the version
          enum:
          - image
          - video
          - raw_file
[...]
